<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui2.0/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        table tbody tr td .layui-table-cell {
            height: 90px;
            white-space: nowrap;
        }

        table tbody tr td .laytable-cell-checkbox {
            line-height: 90px;
        }

        table tbody tr td .laytable-cell-numbers {
            line-height: 90px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main" shiro:hasPermission="shopOrder:list">
        <input type="hidden" id="uploadBtn"/>
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 5px 5px 5px 5px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">订单编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="id" autocomplete="off" placeholder="请输入订单编号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">支付单号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="transactionId" autocomplete="off" placeholder="请输入支付单号" class="layui-input">
                            </div>
                        </div>
                        <!--<div class="layui-inline">
                            <label class="layui-form-label">流水单号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="serialNumber" autocomplete="off" placeholder="请输入流水号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">下单日期</label>
                            <div class="layui-input-inline">
                                <input type="text" readonly class="layui-input" id="createStartTime" name="createStartTime" placeholder="开始时间">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" readonly class="layui-input" id="createEndTime" name="createEndTime" placeholder="结束时间">
                            </div>
                        </div>-->

                        <div class="layui-inline">
                            <label class="layui-form-label">会员账号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="serialNumber" autocomplete="off" placeholder="请输入会员账号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">支付日期</label>
                            <div class="layui-input-inline">
                                <input type="text" readonly class="layui-input" id="payStartTime" name="payStartTime" placeholder="开始时间">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" readonly class="layui-input" id="payEndTime" name="payEndTime" placeholder="结束时间">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="data-search-btn" shiro:hasPermission="shopOrder:add"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                        </div>


                    </div>
                    <!-- TODO 更多筛选 -->
                    <!--<div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">会员账号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="serialNumber" autocomplete="off" placeholder="请输入会员账号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">支付方式</label>
                            <div class="layui-input-inline">
                                <input type="text" name="id" autocomplete="off" placeholder="请输入支付方式" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">订单状态</label>
                            <div class="layui-input-inline">
                                <input type="text" name="id" autocomplete="off" placeholder="请输入订单状态" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">支付日期</label>
                            <div class="layui-input-inline">
                                <input type="text" readonly class="layui-input" id="payStartTime" name="payStartTime" placeholder="开始时间">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" readonly class="layui-input" id="payEndTime" name="payEndTime" placeholder="结束时间">
                            </div>
                        </div>
                    </div>-->

                </form>
            </div>
        </fieldset>
    </div>
    <table class="layui-table" id="showTable" lay-filter="showTable"></table>
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchClosed" shiro:hasPermission="shopOrder:manager"><i class="fa fa-times-circle"></i> 批量关闭</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDeleted" shiro:hasPermission="shopOrder:manager"><i class="layui-icon">&#xe640;</i>批量删除</button>

            <button class="layui-btn layui-btn-sm" id="export" shiro:hasPermission="shopOrder:manager"><i class="layui-icon">&#xe67d;</i> 导出订单</button>
            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="downloadFreeBillTemplate" shiro:hasPermission="shopOrder:manager"><i class="layui-icon">&#xe67d;</i> 导出赠单模板</button>
            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="importFreeBill" shiro:hasPermission="shopOrder:manager"><i class="layui-icon">&#xe681;</i> 导入赠送订单</button>
        </div>
    </script>
    <script type="text/html" id="tool">
        <a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" lay-event="detail" shiro:hasPermission="shopOrder:list"><i class="layui-icon">&#xe615;</i>订单详情</a>
        <a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" lay-event="orderTracking" shiro:hasPermission="shopMember:manager"><i class="fa fa-truck"></i> 订单跟踪</a>
        {{#  if(d.orderStatus == 0 && d.payStatus == 1 && d.consignStatus == 0){ }}
        {{#  if(d.urgentDelivery == 1){ }}
        <a class="layui-btn layui-btn-primary layui-border-red layui-btn-xs" lay-event="cancelUrgentDelivery" shiro:hasPermission="shopMember:manager"><i class="layui-icon">&#xe609;</i>取消紧急</a>
        {{# }else { }}
        <a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" lay-event="urgentDelivery" shiro:hasPermission="shopMember:manager"><i class="layui-icon">&#xe609;</i>紧急发货</a>
        {{# } }}
        {{# } }}
        <br/>
        <a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" lay-event="orderChange" shiro:hasPermission="shopMember:manager"><i class="fa fa-edit"></i> 订单变更</a>
        {{#  if((d.orderStatus == 0 || d.orderStatus == 1) && d.payStatus == 1){ }}
        <a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" lay-event="" shiro:hasPermission="shopMember:manager"><i class="fa fa-recycle"></i> 订单换货</a>
        <a class="layui-btn layui-btn-primary layui-border-orange layui-btn-xs" lay-event="refund" shiro:hasPermission="shopOrder:delete"><i class="fa fa-exclamation-triangle"></i> 退款退货</a>
        {{# } }}
        <br/>
        {{#  if(d.orderStatus != 4){ }}
        <a class="layui-btn layui-btn-primary layui-border-red layui-btn-xs" lay-event="close" shiro:hasPermission="shopOrder:update"><i class="fa fa-times-circle"></i> 关闭订单</a>
        {{# } }}
        <a class="layui-btn layui-btn-primary layui-border-red layui-btn-xs" lay-event="del" shiro:hasPermission="shopOrder:delete"><i class="layui-icon">&#xe640;</i>删除订单</a>
    </script>


    <script type="text/html" id="orderInfo">
        <div class="layui-row">
            <span class="layui-badge-rim">
                <span class="layui-badge layui-bg-cyan2" style="margin-left: -6px;">
                    <i class="fa fa-shirtsinbulk"></i> 流水单号
                </span>
                {{ d.serialNumber }}
            </span>
        </div>
        <div class="layui-row">
            <span class="layui-badge-rim">
                <span class="layui-badge layui-bg-cyan2" style="margin-left: -6px;">
                    <i class="fa fa-shirtsinbulk"></i> 订单编号
                </span>
                {{ d.id }}
            </span>
        </div>
        <div class="layui-row">
            <span class="layui-badge-rim">
                <span class="layui-badge layui-bg-cyan2" style="margin-left: -6px;">
                    <i class="fa fa-shirtsinbulk"></i> 支付单号
                </span>
                {{ d.transactionId }}
            </span>
        </div>
    </script>

    <script type="text/html" id="timeInfo">
        {{#  if(d.createTime != null){ }}
        <div class="layui-row">
            <span class="layui-badge-rim">
                <span class="layui-badge layui-bg-cyan2" style="margin-left: -6px;">
                    <i class="fa fa-clock-o"></i> 下单时间
                </span>
                {{ d.createTime }}
            </span>
        </div>
        {{#  } }}
        {{#  if(d.payTime != null){ }}
        <div class="layui-row">
            <span class="layui-badge-rim">
                <span class="layui-badge layui-bg-cyan2" style="margin-left: -6px;">
                    <i class="fa fa-clock-o"></i> 付款时间
                </span>
                {{ d.payTime }}
            </span>
        </div>
        {{#  } }}
        {{#  if(d.closeTime != null){ }}
        <div class="layui-row">
            <span class="layui-badge-rim">
                <span class="layui-badge layui-bg-cyan4" style="margin-left: -6px;">
                    <i class="fa fa-clock-o"></i> 关闭时间
                </span>
                {{ d.closeTime }}
            </span>
        </div>
        {{#  } }}
    </script>

</div>
<script th:src="@{/js/core.util.js}" charset="utf-8"></script>
<script th:src="@{/layui/layui.all.js}" charset="utf-8"></script>
</body>
</html>
<script>
    //获取token
    var token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    var tokenQuery = token.replace("#", "%23");
    var tableIns1;
    var $ = jQuery = layui.jquery;
    layui.use(['table', 'layer', 'laydate', 'util', 'upload'], function () {
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var util = layui.util;
        var upload = layui.upload;

        /**
         * 日期时间选择器
         */
        laydate.render({
            elem: '#createStartTime'
            , type: 'datetime'
        });
        /**
         * 日期时间选择器
         */
        laydate.render({
            elem: '#createEndTime'
            , type: 'datetime'
        });
        /**
         * 日期时间选择器
         */
        laydate.render({
            elem: '#payStartTime'
            , type: 'datetime'
        });
        /**
         * 日期时间选择器
         */
        laydate.render({
            elem: '#payEndTime'
            , type: 'datetime'
        });

        upload.render({
            elem: '#uploadBtn' //绑定元素
            , accept: 'file' //允许上传的文件类型
            , url: '/shopOrder/uploadFreeBill?authorization=' + tokenQuery // 上传文件的路径
            , before: function () {
                layer.load(2);
            }
            , done: function (res, index, upload) {
                if (res.code == 0) {
                    layer.msg("上传成功", {time: 500}, function () {
                        // 刷新父页面列表
                        table.reload('showTable');
                        layer.closeAll();
                    });
                } else {
                    layer.msg("上传失败, " + res.msg, {time: 5000, icon: 5}, function () {
                        layer.closeAll();
                    });
                }
            }
            , error: function (index, upload) {
                layer.msg("上传失败", {time: 5000, icon: 5}, function () {
                    layer.closeAll();
                });
            }
        });

        //加载table
        tableIns1 = table.render({
            elem: '#showTable'
            , contentType: 'application/json'
            , headers: {"authorization": token}
            , page: true //开启分页
            , url: '/shopOrder/listByPage' //数据接口
            , method: 'POST'
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {type: 'numbers', title: '序号', fixed: 'left'},
                    {width: 330, field: 'id', title: '订单信息', templet: '#orderInfo'},
                    {
                        width: 350, field: 'payType', title: '支付信息', templet: function (item) {
                            var param = {};
                            param.dictionariesKey = "dict-key-pay_type";
                            param.value = item.payType;
                            var payType = "";
                            CoreUtil.sendSyncGet("/common/getLabelByValue", param, function (res) {
                                payType = res.data;
                            });
                            return "<div class=\"layui-row\">\n" +
                                "            <div class=\"layui-col-xs6\">\n" +
                                "                <div class=\"layui-row\">\n" +
                                "                    <span class=\"layui-badge-rim\">\n" +
                                "                        <span class=\"layui-badge layui-bg-cyan2\" style=\"margin-left: -6px;\">\n" +
                                "                            <i class=\"fa fa-cc-paypal\"></i> 订单金额\n" +
                                "                        </span>\n" +
                                "                        <i class=\"fa fa-jpy\"></i> " + item.totalMoney.toFixed(2) +
                                "                    </span>\n" +
                                "                </div>\n" +
                                "                <div class=\"layui-row\">\n" +
                                "                    <span class=\"layui-badge-rim\">\n" +
                                "                        <span class=\"layui-badge layui-bg-cyan3\" style=\"margin-left: -6px;\">\n" +
                                "                            <i class=\"fa fa-cc-paypal\"></i> 优惠金额\n" +
                                "                        </span>\n" +
                                "                        <i class=\"fa fa-jpy\"></i> " + item.preMoney.toFixed(2) +
                                "                    </span>\n" +
                                "                </div>\n" +
                                "                <div class=\"layui-row\">\n" +
                                "                    <span class=\"layui-badge-rim\">\n" +
                                "                        <span class=\"layui-badge layui-bg-cyan2\" style=\"margin-left: -6px;\">\n" +
                                "                            <i class=\"fa fa-cc-paypal\"></i> 商品运费\n" +
                                "                        </span>\n" +
                                "                        <i class=\"fa fa-jpy\"></i> " + item.postFee.toFixed(2) +
                                "                    </span>\n" +
                                "                </div>\n" +
                                "            </div>\n" +
                                "            <div class=\"layui-col-xs6\">\n" +
                                "                <div class=\"layui-row\">\n" +
                                "                    <span class=\"layui-badge-rim\">\n" +
                                "                        <span class=\"layui-badge layui-bg-cyan2\" style=\"margin-left: -6px;\">\n" +
                                "                            <i class=\"fa fa-cc-paypal\"></i> 实付金额\n" +
                                "                        </span>\n" +
                                "                        <i class=\"fa fa-jpy\"></i> " + item.payMoney.toFixed(2) +
                                "                    </span>\n" +
                                "                </div>\n" +
                                "                <div class=\"layui-row\">\n" +
                                "                    <span class=\"layui-badge-rim\">\n" +
                                "                        <span class=\"layui-badge layui-bg-cyan\" style=\"margin-left: -6px;\">\n" +
                                "                            <i class=\"fa fa-money\"></i> 会员账号\n" +
                                "                        </span>\n" + item.buyerName +
                                "                    </span>\n" +
                                "                </div>\n" +
                                "                <div class=\"layui-row\">\n" +
                                "                    <span class=\"layui-badge-rim\">\n" +
                                "                        <span class=\"layui-badge layui-bg-cyan\" style=\"margin-left: -6px;\">\n" +
                                "                            <i class=\"fa fa-money\"></i> 支付方式\n" +
                                "                        </span>\n" + payType +
                                "                    </span>\n" +
                                "                </div>\n" +
                                "            </div>\n" +
                                "        </div>";
                        }
                    },
                    {width: 230, field: 'createTime', title: '订单时间', templet: '#timeInfo'},
                    {
                        width: 220, field: 'shippingName', title: '物流信息', templet: function (item) {
                            var logisticsCompany = "";
                            if (item.shippingId) {
                                CoreUtil.sendSyncGet("/common/getLogisticsNameById", {id: item.shippingId}, function (res) {
                                    logisticsCompany = res.data;
                                });
                            }
                            if (logisticsCompany) {
                                return "<div class=\"layui-row\">\n" +
                                    "            <span class=\"layui-badge-rim\">\n" +
                                    "                <span class=\"layui-badge layui-bg-cyan2\" style=\"margin-left: -6px;\">\n" +
                                    "                    <i class=\"fa fa-truck\"></i> 物流名称\n" +
                                    "                </span>\n" + logisticsCompany +
                                    "            </span>\n" +
                                    "        </div>\n" +
                                    "        <div class=\"layui-row\">\n" +
                                    "            <span class=\"layui-badge-rim\">\n" +
                                    "                <span class=\"layui-badge layui-bg-cyan2\" style=\"margin-left: -6px;\">\n" +
                                    "                    <i class=\"fa fa-shirtsinbulk\"></i> 物流单号\n" +
                                    "                </span> <a href='javascript:void;' onclick=''>" + item.shippingCode + "</a>\n" +
                                    "            </span>\n" +
                                    "        </div>\n" +
                                    "        <div class=\"layui-row\">\n" +
                                    "            <span class=\"layui-badge-rim\">\n" +
                                    "                <span class=\"layui-badge layui-bg-cyan2\" style=\"margin-left: -6px;\">\n" +
                                    "                    <i class=\"fa fa-clock-o\"></i> 发货时间\n" +
                                    "                </span>\n" + item.consignTime +
                                    "            </span>\n" +
                                    "        </div>";
                            }
                            return "<div class='layui-row' style='text-align: center; line-height: 90px;'><i class='fa fa-slideshare'></i> <em>暂无物流信息</em></div>";
                        }
                    },
                    {
                        width: 150, field: 'orderStatus', title: '状态信息', templet: function (item) {
                            var orderStatus = "";
                            var payStatus = "";
                            var consignStatus = "";
                            CoreUtil.sendSyncGet("/common/getLabelByValue", {dictionariesKey: 'dict-key-order_status', value: item.orderStatus}, function (res) {
                                orderStatus = res.data;
                            });
                            CoreUtil.sendSyncGet("/common/getLabelByValue", {dictionariesKey: 'dict-key-pay_status', value: item.payStatus}, function (res) {
                                payStatus = res.data;
                            });
                            CoreUtil.sendSyncGet("/common/getLabelByValue", {dictionariesKey: 'dict-key-consign_status', value: item.consignStatus}, function (res) {
                                consignStatus = res.data;
                            });
                            return "<div class=\"layui-row\">\n" +
                                "            <span class=\"layui-badge-rim\">\n" +
                                "                <span class=\"layui-badge layui-bg-cyan2\" style=\"margin-left: -6px;\">\n" +
                                "                    <i class=\"fa fa-bell-o\"></i> 订单状态\n" +
                                "                </span>\n" +
                                "                <b>" + orderStatus + "</b>\n" +
                                "            </span>\n" +
                                "        </div>\n" +
                                "        <div class=\"layui-row\">\n" +
                                "            <span class=\"layui-badge-rim\">\n" +
                                "                <span class=\"layui-badge layui-bg-cyan2\" style=\"margin-left: -6px;\">\n" +
                                "                    <i class=\"fa fa-bell-o\"></i> 支付状态\n" +
                                "                </span>\n" +
                                "                 <b>" + payStatus + "</b>\n" +
                                "            </span>\n" +
                                "        </div>\n" +
                                "        <div class=\"layui-row\">\n" +
                                "            <span class=\"layui-badge-rim\">\n" +
                                "                <span class=\"layui-badge layui-bg-cyan2\" style=\"margin-left: -6px;\">\n" +
                                "                    <i class=\"fa fa-bell-o\"></i> 发货状态\n" +
                                "                </span>\n" +
                                "                 <b>" + consignStatus + "</b>\n" +
                                "            </span>\n" +
                                "        </div>";
                        }
                    },
                    {width: 300, toolbar: "#tool", title: '操作', fixed: 'right'}
                ]
            ]
            , toolbar: '#toolbar'
        });


        //表头工具
        table.on('toolbar(showTable)', function (obj) {
            switch (obj.event) {
                case 'batchClosed':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量关闭的列");
                    } else {
                        var ids = [];
                        $(data).each(function (index, item) {
                            ids.push(item.id);
                        });
                        tipDialogForClose(ids);
                    }
                    break;
                case 'batchDeleted':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的列");
                    } else {
                        var ids = [];
                        $(data).each(function (index, item) {
                            ids.push(item.id);
                        });
                        tipDialogForDelete(ids);
                    }
                    break;
                case 'downloadFreeBillTemplate':
                    window.open("../shopOrder/downloadFreeBillTemplate?authorization=" + tokenQuery, "_blank");
                    break;
                case 'importFreeBill':
                    $("#uploadBtn").click();
                    break;
            }
        });
        //列操作
        table.on('tool(showTable)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'close':
                    var ids = [];
                    ids.push(data.id);
                    tipDialogForClose(ids);
                    break;
                case 'del':
                    var ids = [];
                    ids.push(data.id);
                    tipDialogForDelete(ids);
                    break;
                case 'detail':
                    layer.open({
                        type: 2,
                        title: '<i class="layui-icon">&#xe615;</i> 订单信息',
                        id: 'order_detail',
                        scrollbar: false,
                        offset: 'r',
                        anim: 5,
                        maxmin: true,
                        area: ['1200px', '100%'],//宽高不影响最大化
                        content: "../index/shopOrderDetail/" + data.id,//地址
                        zIndex: layer.zIndex,
                        success: function (layero, index) {
                            // 置顶当前窗口
                            layer.setTop(layero);
                        }
                    });
                    break;
                case 'orderChange':
                    layer.open({
                        type: 2,
                        title: '<i class="layui-icon">&#xe615;</i> 订单信息变更',
                        id: 'order_change',
                        scrollbar: false,
                        offset: 'r',
                        anim: 5,
                        maxmin: true,
                        area: ['1200px', '100%'],//宽高不影响最大化
                        content: "../index/shopOrder/orderChange/" + data.id,//地址
                        btn: ['提交保存', '返回订单列表'],
                        zIndex: layer.zIndex,
                        yes: function (index, layero) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            window[layero.find('iframe')[0]['name']].saveShopOrder();
                        },
                        success: function (layero, index) {
                            // 置顶当前窗口
                            layer.setTop(layero);
                        }
                    });
                    break;
                case 'urgentDelivery':
                    // 紧急发货
                    layer.confirm('确定要催促物流紧急发货吗?', {icon: 3, title: '提示'}, function (index) {
                        CoreUtil.sendPut("/shopOrder/update", {id: data.id, urgentDelivery: 1}, function (res) {
                            layer.msg(res.msg, {time: 500}, function () {
                                tableIns1.reload();
                            });
                        });
                    });
                    break;
                case 'cancelUrgentDelivery':
                    // 取消紧急发货
                    layer.confirm('确定要取消催促物流紧急发货吗?', {icon: 3, title: '提示'}, function (index) {
                        CoreUtil.sendPut("/shopOrder/update", {id: data.id, urgentDelivery: 0}, function (res) {
                            layer.msg(res.msg, {time: 500}, function () {
                                tableIns1.reload();
                            });
                        });
                    });
                    break;
                case 'orderTracking':
                    // TODO 订单跟踪

                    break;
                case 'refund':
                    // 退款退货
                    layer.open({
                        type: 2,
                        title: '<i class="layui-icon">&#xe615;</i> 退款退货申请',
                        id: 'order_change',
                        scrollbar: false,
                        offset: 'r',
                        anim: 5,
                        maxmin: true,
                        area: ['1200px', '100%'],//宽高不影响最大化
                        content: "../index/shopReturnOrder/returnOrder/" + data.id,//地址
                        btn: ['提交申请', '返回订单列表'],
                        zIndex: layer.zIndex,
                        yes: function (index, layero) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            window[layero.find('iframe')[0]['name']].saveShopReturnOrder();
                        },
                        success: function (layero, index) {
                            // 置顶当前窗口
                            layer.setTop(layero);
                        }
                    });
                    break;
            }
        });

        /**
         * 监听单元格编辑
         */
        table.on('edit(showTable)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            var para = {};
            para.id = data.id;
            para[field] = util.escape(value);
            CoreUtil.sendPut("/shopOrder/update", para, function (res) {
                tableIns1.reload();
            });
        });

        //导出
        $('#export').on('click', function () {
            //原先分页limit
            var exportParams = {
                limit: Number.MAX_VALUE,
                key: $("#key").val()
            };
            CoreUtil.sendPost("/shopOrder/listByPage", exportParams, function (res) {
                //初始化渲染数据
                if (res.data != null && res.data.records != null) {
                    table.exportFile(tableIns1.config.id, res.data.records, 'xls');
                }
            });
        });

        //关闭
        var tipDialogForClose = function (ids) {
            layer.confirm('确定要关闭订单么?', {icon: 3, title: '提示'}, function (index) {
                CoreUtil.sendDelete("/shopOrder/close", ids, function (res) {
                    layer.msg(res.msg, {time: 500}, function () {
                        tableIns1.reload();
                    });
                });
            });
        };

        //删除
        var tipDialogForDelete = function (ids) {
            layer.confirm('确定要删除订单么?', {icon: 3, title: '提示'}, function (index) {
                CoreUtil.sendDelete("/shopOrder/delete", ids, function (res) {
                    layer.msg(res.msg, {time: 500}, function () {
                        tableIns1.reload();
                    });
                });
            });
        };

        /**
         * 执行查询
         */
        form.on('submit(data-search-btn)', function (data) {
            // 查询条件
            var where = data.field;
            // 刷新table
            tableIns1.reload({
                where: where,
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                done: function () {
                    // 清空查询条件缓存
                    this.where = {};
                }
            });
            return false;
        });

    });
</script>
