<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui2.0/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main" shiro:hasPermission="shopMember:list">
        <form class="layui-form" action="" style="width: 100%;">
            <input name="memberId" hidden/>
            <blockquote class="layui-elem-quote">账号信息</blockquote>
            <blockquote class="layui-elem-quote layui-quote-nm">
                <table class="layui-table" lay-size="sm">
                    <thead>
                        <tr>
                            <th>会员账号</th>
                            <th>邀请码</th>
                            <th>推荐人</th>
                            <th>推荐码</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${shopMemberEntity.memberName}"></td>
                        <td th:text="${shopMemberEntity.memberInvitationCode}"></td>
                        <td th:text="${references.memberName}"></td>
                        <td th:text="${shopMemberEntity.memberInvitationCodeFrom}"></td>
                    </tr>
                    </tbody>

                    <thead>
                    <tr>
                        <th><b style="color: #ff5749;">钱包余额</b></th>
                        <th><b style="color: #2b9a3f;">成长值</b></th>
                        <th>VIP等级</th>
                        <th>VIP升级日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><i class="fa fa-jpy" style="color: #ff5749; font-weight: bold;" th:text="' ' + ${shopMemberWalletEntity.balance}"></i></td>
                        <td><i class="fa fa-money" style="color: #2b9a3f; font-weight: bold;" th:text="${' ' + shopMemberGrowthValueEntity.growthValue}"></i></td>
                        <td th:text="${shopMemberEntity.memberGradeName}"></td>
                        <td th:text="${#dates.format(shopMemberEntity.gradeTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                    </tbody>

                    <thead>
                    <tr>
                        <th>注册设备</th>
                        <th>三方平台</th>
                        <th>会员状态</th>
                        <th>版本号</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:if="${shopMemberEntity.memberIdentification == 0}"><i class="fa fa-desktop"> 电脑(后台管理)</i></td>
                        <td th:if="${shopMemberEntity.memberIdentification == 1}"><i class="fa fa-mobile"> 手机(移动端APP)</i></td>
                        <td th:if="${shopMemberEntity.memberIdentification != 0 && shopMemberEntity.memberIdentification != 1}"><i class="fa fa-question-circle"> 其他</i></td>

                        <td th:if="${shopMemberEntity.memberThirdParty == 0}"><i class="fa fa-desktop"> 本站</i></td>
                        <td th:if="${shopMemberEntity.memberThirdParty == 1}"><i class="fa fa-weixin"> 微信</i></td>
                        <td th:if="${shopMemberEntity.memberThirdParty == 2}"><i class="fa fa-qq"> QQ</i></td>
                        <td th:if="${shopMemberEntity.memberThirdParty == 3}"><i class="fa fa-weibo"> 新浪</i></td>
                        <td th:if="${shopMemberEntity.memberThirdParty != 0 && shopMemberEntity.memberThirdParty != 1 && shopMemberEntity.memberThirdParty != 2 && shopMemberEntity.memberThirdParty != 3}"><i class="fa fa-question-circle"> 其他</i></td>

                        <td th:if="${shopMemberEntity.memberState == 1}"><i class="fa fa-toggle-on"> 开启</i></td>
                        <td th:if="${shopMemberEntity.memberState == 0}"><i class="fa fa-toggle-off"> 关闭</i></td>
                        <td th:if="${shopMemberEntity.memberState != 0 && shopMemberEntity.memberState != 1}"><i class="fa fa-desktop"> 异常</i></td>

                        <td><i class="fa fa-vimeo-square" th:text="${' 1.0.' + shopMemberEntity.memberVersion}"></i></td>
                    </tr>
                    </tbody>

                </table>
            </blockquote>
            <blockquote class="layui-elem-quote">基本信息</blockquote>
            <blockquote class="layui-elem-quote layui-quote-nm">
                <table class="layui-table" lay-size="sm">
                    <colgroup>
                        <col width="200">
                        <col width="600">
                        <col width="200">
                        <col width="600">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td rowspan="2">会员头像</td>
                        <td rowspan="2">
                            <img th:src="${shopMemberEntity.memberAvatar}" style="width: 60px; height: 60px;"/>
                        </td>
                        <td>真实姓名</td>
                        <td th:text="${shopMemberEntity.memberTrueName}"></td>
                    </tr>
                    <tr>
                        <td>会员昵称</td>
                        <td th:text="${shopMemberEntity.memberNick}"></td>
                    </tr>
                    <tr>
                        <td>性别</td>
                        <td th:text="${@commonController.getLabelByValue('dict-key-sex', shopMemberEntity.memberSex).data}"></td>
                        <td>出生日期</td>
                        <td th:text="${shopMemberEntity.memberBirthday}"></td>
                    </tr>
                    <tr>
                        <td>身份证</td>
                        <td colspan="3" th:text="${shopMemberEntity.memberIdentity}"></td>
                    </tr>
                    <tr>
                        <td>所在地</td>
                        <td colspan="3">
                            <span  th:text="${@commonController.getNameById(shopMemberEntity.memberProvince, '0').data}"></span>
                            <span  th:text="${@commonController.getNameById(shopMemberEntity.memberCity, shopMemberEntity.memberProvince).data}"></span>
                            <span  th:text="${@commonController.getNameById(shopMemberEntity.memberArea, shopMemberEntity.memberCity).data}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>详细地址</td>
                        <td colspan="3" th:text="${shopMemberEntity.memberAreaInfo}"></td>
                    </tr>
                    </tbody>
                </table>
            </blockquote>
            <blockquote class="layui-elem-quote">联系方式</blockquote>
            <blockquote class="layui-elem-quote layui-quote-nm">
                <table class="layui-table" lay-size="sm">
                    <colgroup>
                        <col width="200">
                        <col width="600">
                        <col width="200">
                        <col width="600">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>手机号</td>
                        <td th:text="${shopMemberEntity.memberMobile}"></td>
                        <td>邮箱</td>
                        <td th:text="${shopMemberEntity.memberEmail}"></td>
                    </tr>
                    <tr>
                        <td>QQ</td>
                        <td th:text="${shopMemberEntity.memberQq}"></td>
                        <td>阿里旺旺</td>
                        <td th:text="${shopMemberEntity.memberWw}"></td>
                    </tr>
                    <tr>
                        <td>微信名</td>
                        <td th:text="${shopMemberEntity.wechatName}"></td>
                        <td>微信账号</td>
                        <td th:text="${shopMemberEntity.wechatAccountNumber}"></td>
                    </tr>
                    <tr>
                        <td>支付宝姓名</td>
                        <td th:text="${shopMemberEntity.alipayName}"></td>
                        <td>支付宝账号</td>
                        <td th:text="${shopMemberEntity.alipayAccountNumber}"></td>
                    </tr>
                    </tbody>
                </table>
            </blockquote>
        </form>
    </div>
</div>
<script th:src="@{/js/core.util.js}" charset="utf-8"></script>
<script th:src="@{/layui2.0/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
</body>
</html>
<script>
    //获取token
    var token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    var tokenQuery = token.replace("#", "%23");
    var $ = jQuery = layui.jquery;
    layui.use(['form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;



    });



</script>
