<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui2.0/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        .layui-table .layui-input {
            height: 25px !important;
        }

        .layui-table .layui-input2 {
            height: 25px !important;
            width: 60px !important;
            display: inline !important;
        }

        .layui-table .layui-form-checkbox[lay-skin=primary] {
            margin: 0 !important;
            padding: 0 !important;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main" shiro:hasPermission="shopTransport:add">
        <form class="layui-form" action="" lay-filter="shopTransportForm" id="shopTransportForm" style="width: 100%;">
            <input name="id" hidden/>
            <div class="layui-form-item">
                <label class="layui-form-label required">经营店铺</label>
                <div class="layui-input-block">
                    <select name="sellerId" lay-filter="sellerId" lay-search lay-verify="required" th:with="sellerList=${@sellerService.list()}">
                        <!--<option value="">请选择运营商家</option>-->
                        <option th:each="seller : ${sellerList}" th:text="${seller.sellerName}" th:value="${seller.id}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">模板名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" id="area-picker">
                <div class="layui-form-label required">宝贝地址</div>
                <div class="layui-input-inline" style="width: 28%;">
                    <select name="province" lay-filter="province" lay-verify="required" lay-search th:with="addressLibraryList=${@commonController.findAllSubordinateAddressLibrary('0').data}">
                        <option value="">请选择省</option>
                        <option th:each="addressLibrary : ${addressLibraryList}" th:text="${addressLibrary.name}" th:value="${addressLibrary.id}"></option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 28%;">
                    <select name="city" lay-filter="city" lay-verify="required" lay-search>
                        <option value="">请选择市</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 28%;">
                    <select name="county" lay-filter="county" lay-verify="required" lay-search>
                        <option value="">请选择区</option>
                    </select>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label required">计价方式</label>
                <div class="layui-input-block">
                    <span th:with="dataResult=${@commonController.findAllPricingMethod()}">
                        <input type="radio" name="pricingMethod" th:each="map, mapStat : ${dataResult.getData()}" th:title="${map.get('name')}" th:checked="${mapStat.index == 0}"/>
                    </span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">配送方式</label>
                <div class="layui-input-block">
                    <span th:with="dataResult=${@commonController.findAllShippingMethod()}">
                        <input type="checkbox" name="shippingMethod" lay-filter="shippingMethod"
                               th:each="map, mapStat : ${dataResult.getData()}"
                               th:value="${map.get('id')}"
                               th:title="${map.get('name')}"
                               th:checked="${mapStat.index == 0}"/>
                    </span>
                    <i class="fa fa-exclamation-circle"></i> <em>除指定地区外, 其余地区的运费采用"默认运费"</em>
                </div>
            </div>


            <!-- ====================================================================================== 快递 ====================================================================================== -->
            <div class="layui-form-item" id="express">
                <div class="layui-input-block">
                    <table class="layui-table" lay-size="sm">
                        <colgroup>
                            <col width="20">
                            <col width="250">
                            <col width="50">
                            <col width="100">
                            <col width="100">
                            <col width="100">
                            <col width="100">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th colspan="2" style="text-align: center; font-weight: bold; font-size: 16px; color: #2b9eb9;"><i class="fa fa-truck"></i> 快递</th>
                            <th>默认运费:</th>
                            <th colspan="5">
                                <input type="number" name="" autocomplete="off" class="layui-input layui-input2">件内
                                <input type="number" name="" autocomplete="off" class="layui-input layui-input2">元, 每增加
                                <input type="number" name="" autocomplete="off" class="layui-input layui-input2">件, 增加运费
                                <input type="number" name="" autocomplete="off" class="layui-input layui-input2">元
                            </th>
                        </tr>
                        <tr>
                            <th><input type="checkbox" name="" lay-skin="primary"/></th>
                            <th colspan="2">运送到</th>
                            <th>首件数(件)</th>
                            <th>首费(元)</th>
                            <th>续件数(件)</th>
                            <th>续费(元)</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: center; line-height: 25px;"><input type="checkbox" name="" lay-skin="primary"/></td>
                            <td>
                                <input type="hidden" name="areaInfo"/>
                                <pre name="showAreaName">点击"编辑"选择指定地区</pre>
                            </td>
                            <td><a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" onclick="specifiedRegion(this)"><i class="layui-icon">&#xe642;</i>编辑</a></td>
                            <td><input type="number" name="" autocomplete="off" class="layui-input"></td>
                            <td><input type="number" name="" autocomplete="off" class="layui-input"></td>
                            <td><input type="number" name="" autocomplete="off" class="layui-input"></td>
                            <td><input type="number" name="" autocomplete="off" class="layui-input"></td>
                            <td><a class="layui-btn layui-btn-primary layui-border-red layui-btn-xs"><i class="layui-icon">&#xe640;</i>删除</a></td>
                        </tr>
                        </tbody>
                        <thead>
                        <tr>
                            <th colspan="8">
                                <a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs"><i class="layui-icon">&#xe61f;</i>新增指定地区</a>
                                <a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs"><i class="layui-icon">&#xe642;</i>批量设置</a>
                                <a class="layui-btn layui-btn-primary layui-border-red layui-btn-xs"><i class="layui-icon">&#xe640;</i>批量删除</a>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>


            <!-- ====================================================================================== EMS ====================================================================================== -->
            <div class="layui-form-item" id="ems" hidden>
                <div class="layui-input-block">
                    <table class="layui-table" lay-size="sm">
                        <colgroup>
                            <col width="20">
                            <col width="250">
                            <col width="50">
                            <col width="100">
                            <col width="100">
                            <col width="100">
                            <col width="100">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th colspan="2" style="text-align: center; font-weight: bold; font-size: 16px; color: #2b9eb9;"><i class="fa fa-truck"></i> EMS</th>
                            <th>默认运费:</th>
                            <th colspan="5">
                                <input type="number" name="" autocomplete="off" placeholder="" class="layui-input layui-input2">件内
                                <input type="number" name="" autocomplete="off" placeholder="" class="layui-input layui-input2">元, 每增加
                                <input type="number" name="" autocomplete="off" placeholder="" class="layui-input layui-input2">件, 增加运费
                                <input type="number" name="" autocomplete="off" placeholder="" class="layui-input layui-input2">元
                            </th>
                        </tr>
                        <tr>
                            <th><input type="checkbox" name="" lay-skin="primary"/></th>
                            <th colspan="2">运送到</th>
                            <th>首件数(件)</th>
                            <th>首费(元)</th>
                            <th>续件数(件)</th>
                            <th>续费(元)</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: center; line-height: 25px;"><input type="checkbox" name="" lay-skin="primary"/></td>
                            <td>
                                <input type="hidden" name=""/>
                                <span>点击"编辑"选择指定地区</span>
                            </td>
                            <td><a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a></td>
                            <td><input type="number" name="" autocomplete="off" class="layui-input"></td>
                            <td><input type="number" name="" autocomplete="off" class="layui-input"></td>
                            <td><input type="number" name="" autocomplete="off" class="layui-input"></td>
                            <td><input type="number" name="" autocomplete="off" class="layui-input"></td>
                            <td><a class="layui-btn layui-btn-primary layui-border-red layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe640;</i>删除</a></td>
                        </tr>
                        <tr>
                            <td colspan="8">
                                <a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe61f;</i>新增指定地区</a>
                                <a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>批量设置</a>
                                <a class="layui-btn layui-btn-primary layui-border-red layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe640;</i>批量删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- ====================================================================================== 平邮 ====================================================================================== -->
            <div class="layui-form-item" id="surfaceMail" hidden>
                <div class="layui-input-block">
                    <table class="layui-table" lay-size="sm">
                        <colgroup>
                            <col width="20">
                            <col width="250">
                            <col width="50">
                            <col width="100">
                            <col width="100">
                            <col width="100">
                            <col width="100">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th colspan="2" style="text-align: center; font-weight: bold; font-size: 16px; color: #2b9eb9;"><i class="fa fa-truck"></i> 平邮</th>
                            <th>默认运费:</th>
                            <th colspan="5">
                                <input type="number" name="" autocomplete="off" placeholder="" class="layui-input layui-input2">件内
                                <input type="number" name="" autocomplete="off" placeholder="" class="layui-input layui-input2">元, 每增加
                                <input type="number" name="" autocomplete="off" placeholder="" class="layui-input layui-input2">件, 增加运费
                                <input type="number" name="" autocomplete="off" placeholder="" class="layui-input layui-input2">元
                            </th>
                        </tr>
                        <tr>
                            <th><input type="checkbox" name="" lay-skin="primary"/></th>
                            <th colspan="2">运送到</th>
                            <th>首件数(件)</th>
                            <th>首费(元)</th>
                            <th>续件数(件)</th>
                            <th>续费(元)</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: center; line-height: 25px;"><input type="checkbox" name="" lay-skin="primary"/></td>
                            <td>
                                <input type="hidden" name=""/>
                                <span>点击"编辑"选择指定地区</span>
                            </td>
                            <td><a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a></td>
                            <td><input type="number" name="" autocomplete="off" class="layui-input"></td>
                            <td><input type="number" name="" autocomplete="off" class="layui-input"></td>
                            <td><input type="number" name="" autocomplete="off" class="layui-input"></td>
                            <td><input type="number" name="" autocomplete="off" class="layui-input"></td>
                            <td><a class="layui-btn layui-btn-primary layui-border-red layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe640;</i>删除</a></td>
                        </tr>
                        <tr>
                            <td colspan="8">
                                <a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe61f;</i>新增指定地区</a>
                                <a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>批量设置</a>
                                <a class="layui-btn layui-btn-primary layui-border-red layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe640;</i>批量删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <input type="submit" lay-filter="submitBtnForAdd" id="submitBtnForAdd" lay-submit="" hidden/>
            <input type="submit" lay-filter="submitBtnForUpdate" id="submitBtnForUpdate" lay-submit="" hidden/>
        </form>
    </div>

    <!-- ================================================================== 特殊地区不配送 ================================================================== -->
    <!--<div class="layui-container">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <blockquote class="layui-elem-quote"><i class="layui-icon">&#xe702;</i> 特殊地区不配送</blockquote>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <div class="layui-row">
                    <div class="layui-col-md6">
                        <div id="specialAreas" style="margin-top: 10px; margin-left: -5px;"></div>
                    </div>
                    <div class="layui-col-md6">
                        <table class="layui-table" lay-size="sm" id="specialAreasTable">
                            <colgroup>
                                <col width="100">
                                <col width="300">
                            </colgroup>
                            <thead>
                            <tr>
                                <th colspan="2">特殊地区不配送</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="layui-container">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <blockquote class="layui-elem-quote"><i class="layui-icon">&#xe702;</i> 特殊地区不配送</blockquote>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <div id="specialAreas" style="margin-top: 0; margin-left: 0;"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <table class="layui-table" lay-size="sm" id="specialAreasTable" hidden>
                    <colgroup>
                        <col width="100">
                        <col width="300">
                    </colgroup>
                    <thead>
                    <tr>
                        <th colspan="2">特殊地区不配送</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script th:src="@{/js/core.util.js}" charset="utf-8"></script>
<script th:src="@{/layui2.0/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/layui2.0/js/lay-config.js(v=2.0.0)}" charset="utf-8"></script>
</body>
</html>
<script>
    //获取token
    var token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    var tokenQuery = token.replace("#", "%23");
    var $ = jQuery = layui.jquery;
    layui.use(['form', 'layer', 'regionCheckBox'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var regionCheckBox = layui.regionCheckBox;

        form.on('select(province)', function (data) {
            loadCity(data.value, null);
        });

        form.on('select(city)', function (data) {
            loadCounty(data.value, null);
        });

        form.on('checkbox(shippingMethod)', function (data) {
            var checkedCount = $("input[type='checkbox'][name='shippingMethod']:checked").length;
            if (checkedCount < 1) {
                data.elem.checked = !data.elem.checked;
                form.render('checkbox');
                layer.msg("至少保留一种配送方式");
                return;
            }
            // express快递/surfaceMail平邮/ems
            switch (parseInt(data.value)) {
                case 1:
                    // 快递
                    if (data.elem.checked) {
                        $("#express").show();
                    } else {
                        $("#express").hide();
                    }
                    break;
                case 2:
                    // EMS
                    if (data.elem.checked) {
                        $("#ems").show();
                    } else {
                        $("#ems").hide();
                    }
                    break;
                case 3:
                    // 平邮
                    if (data.elem.checked) {
                        $("#surfaceMail").show();
                    } else {
                        $("#surfaceMail").hide();
                    }
                    break;
            }
        });


        CoreUtil.sendSyncGet("/addressLibrary/findAllProvinceAndCity", null, function (res) {
            var regionList = res.data;
            //执行实例
            var specialAreas = regionCheckBox.render({
                elem: '#specialAreas',
                name: 'region', // 对应input name
                data: regionList,
                // value: ['130000000000-130100000000', '110000000000-110100000000', '320000000000'], // 赋初始值，'北京,内蒙古,江西-九江'也可以
                width: '100%', // 默认550px
                border: true, // 默认true
                // 初始化完成时执行
                ready: function () {
                    //  做些什么
                },
                // 点击复选框时执行
                change: function (result) {
                    //  封装数据
                    encapsulationSpecialAreasMap(result);
                    // 加载特殊地区table
                    loadSpecialAreasTable();
                }
            });
        });


        // 表单提交
        form.on('submit(submitBtnForAdd)', function (data) {
            // // 当前容器的全部表单字段，名值对形式：{name: value}; 获取单个值data.field["title"]
            // CoreUtil.sendPost("/shopTransport/add", data.field, function (res) {
            //     // 刷新父页面列表
            //     parent.layui.table.reload('showTable');
            //     // 提示
            //     layer.open({
            //         content: '<i class="layui-icon layui-icon-face-smile" style="color: green;"></i> 保存成功'
            //         , btn: ['继续添加', '返回列表']
            //         , yes: function (index, layero) {
            //             // 清空表单 （“brandForm”是表单的id）
            //             $("#shopTransportForm")[0].reset();
            //             form.render();
            //             layer.close(index);
            //         }, btn2: function (index, layero) {
            //             //按钮【按钮二】的回调
            //             var parentIndex = parent.layer.getFrameIndex(window.name);
            //             parent.layer.close(parentIndex);
            //             //return false 开启该代码可禁止点击该按钮关闭
            //         }, cancel: function () {
            //             //右上角关闭回调
            //             var parentIndex = parent.layer.getFrameIndex(window.name);
            //             parent.layer.close(parentIndex);
            //             //return false 开启该代码可禁止点击该按钮关闭
            //         }
            //     });
            // });
            //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            return false;
        });
        form.on('submit(submitBtnForUpdate)', function (data) {
            // // 当前容器的全部表单字段，名值对形式：{name: value}; 获取单个值data.field["title"]
            // CoreUtil.sendPut("/shopTransport/update", data.field, function (res) {
            //     // 刷新父页面列表
            //     parent.layui.table.reload('showTable');
            //     parent.layer.msg("修改成功");
            //     var parentIndex = parent.layer.getFrameIndex(window.name);
            //     parent.layer.close(parentIndex);
            // });
            //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            return false;
        });
    });

    function loadCity(province, city) {
        var form = layui.form;
        $("select[name='city']").empty();
        $("select[name='city']").append("<option value=''>请选择市</option>");
        $("select[name='county']").empty();
        $("select[name='county']").append("<option value=''>请选择区</option>");
        if (province) {
            CoreUtil.sendSyncGet("/common/findAllSubordinateAddressLibrary/" + province, null, function (res) {
                if (res.data) {
                    var selectObj = $("select[name='city']");
                    $(selectObj).empty();
                    $(selectObj).append("<option value=''>请选择市</option>");
                    $(res.data).each(function (index, item) {
                        if (city && city == item.id) {
                            $(selectObj).append("<option value='" + item.id + "' selected>" + item.name + "</option>");
                        } else {
                            $(selectObj).append("<option value='" + item.id + "'>" + item.name + "</option>");
                        }
                    });
                }
            });
        }
        form.render('select');
    }

    function loadCounty(city, county) {
        var form = layui.form;
        $("select[name='county']").empty();
        $("select[name='county']").append("<option value=''>请选择区</option>");
        if (city) {
            CoreUtil.sendSyncGet("/common/findAllSubordinateAddressLibrary/" + city, null, function (res) {
                if (res.data) {
                    var selectObj = $("select[name='county']");
                    $(selectObj).empty();
                    $(selectObj).append("<option value=''>请选择区</option>");
                    $(res.data).each(function (index, item) {
                        if (county && county == item.id) {
                            $(selectObj).append("<option value='" + item.id + "' selected>" + item.name + "</option>");
                        } else {
                            $(selectObj).append("<option value='" + item.id + "'>" + item.name + "</option>");
                        }
                    });
                }
            });
        }
        form.render('select');
    }


    // 加载指定地区源数据
    function specifiedRegion(ele) {
        var layer = layui.layer;
        layer.open({
            id: 'specifiedRegion', //设定一个id，防止重复弹出
            title: '<i class="layui-icon">&#xe66c;</i> 选择指定地区',
            type: 2,
            content: '../../index/shopTransport/specifiedRegion',
            btn: ['确定', '取消'],
            area: ['80%', '600px'],
            scrollbar: false,
            yes: function (index, layero) {
                var selectedSpecialAreasMap = window[layero.find('iframe')[0]['name']].getSpecialAreasMap();
                var areaName = "";
                selectedSpecialAreasMap.forEach(function (v, k, map) {
                    var children = v.children;
                    if (children && children.length > 0) {
                        let cityNameArr = [];
                        children.forEach(item => {
                            cityNameArr.push(item.name)
                        });
                        areaName += "【" + v.name + "】" + cityNameArr.join(',') + ";\n";
                    }
                });
                var p = $(ele).parent().prev();
                $(p).find("input[name='areaInfo']").val(CoreUtil.mapChangeJson(selectedSpecialAreasMap));
                $(p).find("pre[name='showAreaName']").text(areaName || "点击\"编辑\"选择指定地区");
                layer.close(index);
            }
            , success: function (layero, index) {
                var p = $(ele).parent().prev();
                var selectedSpecialAreas = $(p).find("input[name='areaInfo']").val();
                window[layero.find('iframe')[0]['name']].setSpecialAreasMap(selectedSpecialAreas);
            }
        });
    }

    var specialAreasMap = new Map();

    function encapsulationSpecialAreasMap(result) {
        var parent = $(result.elem).attr("parent");
        var checked = result.elem.checked;
        var value = result.value;
        var title = $(result.elem).attr("title");
        if ('-1' == parent) {
            specialAreasMap.clear();
            if (checked) {
                $("input[type='checkbox'][lay-filter='regionCheckBox-specialAreas']").each(function (index, obj) {
                    var currParent = $(obj).attr("parent");
                    var currValue = $(obj).attr("value");
                    var currTitle = $(obj).attr("title");
                    if (currParent != '-1' && currParent != '0') {
                        var currParentTitle = $(obj).attr("parentTitle");
                        if (specialAreasMap.has(currParent)) {
                            var parentObj = specialAreasMap.get(currParent);
                            var children = parentObj.children;
                            children.push({id: currValue, name: currTitle});
                            parentObj.children = children;
                        } else {
                            specialAreasMap.set(currParent, {name: currParentTitle, children: [{id: currValue, name: currTitle}]});
                        }
                    }

                });
            }
        } else if ('0' == parent) {
            specialAreasMap.delete(value);
            if (checked) {
                $("input[type='checkbox'][lay-filter='regionCheckBox-specialAreas'][parent='" + value + "']").each(function (index, obj) {
                    var currValue = $(obj).attr("value");
                    var currTitle = $(obj).attr("title");
                    var currParentTitle = $(obj).attr("parentTitle");
                    if (specialAreasMap.has(value)) {
                        var parentObj = specialAreasMap.get(value);
                        var children = parentObj.children;
                        children.push({id: currValue, name: currTitle});
                        parentObj.children = children;
                    } else {
                        specialAreasMap.set(value, {name: currParentTitle, children: [{id: currValue, name: currTitle}]});
                    }
                });
            }
        } else {
            if (specialAreasMap.has(parent)) {
                var parentObj = specialAreasMap.get(parent);
                var children = parentObj.children;
                var newChildren = [];
                $(children).each(function (index, obj) {
                    if (obj.id != value) {
                        newChildren.push(obj);
                    }
                });
                parentObj.children = newChildren;
            }
            if (checked) {
                if (specialAreasMap.has(parent)) {
                    var parentObj = specialAreasMap.get(parent);
                    var children = parentObj.children;
                    children.push({id: value, name: title});
                    parentObj.children = children;
                } else {
                    var parentTitle = $(result.elem).attr("parentTitle");
                    specialAreasMap.set(parent, {name: parentTitle, children: [{id: value, name: title}]});
                }
            }
        }
    }

    function loadSpecialAreasTable() {
        $("#specialAreasTable tbody").empty();
        var tableHtml = "";
        specialAreasMap.forEach(function (v, k, map) {
            var children = v.children;
            if (children && children.length > 0) {
                tableHtml += "<tr><td>" + v.name + "</td><td>" + children.join(',') + "</td></tr>";
            }
        });
        if (tableHtml) {
            $("#specialAreasTable tbody").append(tableHtml);
            $("#specialAreasTable").show();
        } else {
            $("#specialAreasTable").hide();
        }
    }


    /**
     * 父级页面控制子页面提交表单
     */
    function saveShopTransport(submitBtn) {
        $("#" + submitBtn).click();
    }

    /**
     * 父级页面控制子页面填充
     */
    function assignment(data) {
        var form = layui.form,
            layarea = layui.layarea;
        // 表单赋值
        form.val("shopTransportForm", {
            "id": data.id,
            "sellerId": data.sellerId,
            "name": data.name,
            "province": data.province,
            "pricingMethod": data.pricingMethod,
            "shippingMethod": data.shippingMethod,
        });
        loadCity(data.province, data.city);
        loadCounty(data.city, data.county);
    }

</script>
