<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui2.0/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
</head>
<body>


<div id="specialAreas"></div>


<script th:src="@{/js/core.util.js}" charset="utf-8"></script>
<script th:src="@{/layui2.0/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/layui2.0/js/lay-config.js(v=2.0.0)}" charset="utf-8"></script>
</body>
</html>
<script>
    //获取token
    var token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    var tokenQuery = token.replace("#", "%23");
    var $ = jQuery = layui.jquery;
    layui.use(['form', 'layer', 'regionCheckBox'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var regionCheckBox = layui.regionCheckBox;


    });

    function loadRegionCheckBox(value) {
        var regionCheckBox = layui.regionCheckBox;
        CoreUtil.sendSyncGet("/addressLibrary/findAllProvinceAndCity", null, function (res) {
            var regionList = res.data;
            //执行实例
            regionCheckBox.render({
                elem: '#specialAreas',
                name: 'region', // 对应input name
                data: regionList,
                value: value, // 赋初始值，'北京,内蒙古,江西-九江'也可以 ['北京', '内蒙古', '江西-九江']
                width: '100%', // 默认550px
                border: true, // 默认true
                // 初始化完成时执行
                ready: function () {
                    //  做些什么
                },
                // 点击复选框时执行
                change: function (result) {
                    //  封装数据
                    encapsulationSpecialAreasMap(result);
                }
            });
        });
    }

    function getSpecialAreasMap() {
        return specialAreasMap;
    }

    function setSpecialAreasMap(selectedSpecialAreas) {
        var value = [];
        if (selectedSpecialAreas) {
            specialAreasMap = CoreUtil.jsonChangeMap(selectedSpecialAreas);
            specialAreasMap.forEach(function (v, k, map) {
                var children = v.children;
                if (children && children.length > 0) {
                    $(children).each(function (index, item) {
                        value.push(k + "-" + item.id)
                    });
                }
            });
        }
        loadRegionCheckBox(value);
    }


    var specialAreasMap = new Map();

    function encapsulationSpecialAreasMap(result) {
        var parent = $(result.elem).attr("parent");
        var checked = result.elem.checked;
        var value = result.value;
        var title = $(result.elem).attr("title");
        if ('-1' == parent) {
            specialAreasMap.clear();
            if (checked) {
                $("input[type='checkbox'][lay-filter='regionCheckBox-specialAreas']").each(function (index, obj) {
                    var currParent = $(obj).attr("parent");
                    var currValue = $(obj).attr("value");
                    var currTitle = $(obj).attr("title");
                    if (currParent != '-1' && currParent != '0') {
                        var currParentTitle = $(obj).attr("parentTitle");
                        if (specialAreasMap.has(currParent)) {
                            var parentObj = specialAreasMap.get(currParent);
                            var children = parentObj.children;
                            children.push({id: currValue, name: currTitle});
                            parentObj.children = children;
                        } else {
                            specialAreasMap.set(currParent, {name: currParentTitle, children: [{id: currValue, name: currTitle}]});
                        }
                    }

                });
            }
        } else if ('0' == parent) {
            specialAreasMap.delete(value);
            if (checked) {
                $("input[type='checkbox'][lay-filter='regionCheckBox-specialAreas'][parent='" + value + "']").each(function (index, obj) {
                    var currValue = $(obj).attr("value");
                    var currTitle = $(obj).attr("title");
                    var currParentTitle = $(obj).attr("parentTitle");
                    if (specialAreasMap.has(value)) {
                        var parentObj = specialAreasMap.get(value);
                        var children = parentObj.children;
                        children.push({id: currValue, name: currTitle});
                        parentObj.children = children;
                    } else {
                        specialAreasMap.set(value, {name: currParentTitle, children: [{id: currValue, name: currTitle}]});
                    }
                });
            }
        } else {
            if (specialAreasMap.has(parent)) {
                var parentObj = specialAreasMap.get(parent);
                var children = parentObj.children;
                var newChildren = [];
                $(children).each(function (index, obj) {
                    if (obj.id != value) {
                        newChildren.push(obj);
                    }
                });
                parentObj.children = newChildren;
            }
            if (checked) {
                if (specialAreasMap.has(parent)) {
                    var parentObj = specialAreasMap.get(parent);
                    var children = parentObj.children;
                    children.push({id: value, name: title});
                    parentObj.children = children;
                } else {
                    var parentTitle = $(result.elem).attr("parentTitle");
                    specialAreasMap.set(parent, {name: parentTitle, children: [{id: value, name: title}]});
                }
            }
            if (specialAreasMap.has(parent)) {
                var parentObj = specialAreasMap.get(parent);
                var children = parentObj.children;
                if(!children || children.length < 1){
                    specialAreasMap.delete(parent);
                }
            }
        }
    }

</script>
