<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui2.0/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main" shiro:hasPermission="shopArticle:add">
        <form class="layui-form" action="" lay-filter="shopArticleForm" id="shopArticleForm" style="width: 100%;">
            <input name="id" th:value="${shopArticleEntity.id}" hidden/>
            <div class="layui-form-item">
                <label class="layui-form-label required">文章栏目</label>
                <div class="layui-input-inline">
                    <select name="columnId" lay-search lay-verify="required" th:with="articleColumnList=${@shopArticleColumnService.list()}">
                        <option value="">请选择栏目</option>
                        <option th:each="articleColumn : ${articleColumnList}" th:text="${articleColumn.name}" th:value="${articleColumn.id}" th:selected="${articleColumn.id == shopArticleEntity.columnId}"></option>
                    </select>
                </div>
                <label class="layui-form-label required">文章作者</label>
                <div class="layui-input-inline">
                    <input type="text" name="author" lay-verify="required" placeholder="请输入作者" autocomplete="off" class="layui-input" th:value="${shopArticleEntity.author}">
                </div>
                <label class="layui-form-label required">文章来源</label>
                <div class="layui-input-inline">
                    <input type="text" name="source" lay-verify="required" placeholder="请输入来源" autocomplete="off" class="layui-input" th:value="${shopArticleEntity.source}">
                </div>
                <label class="layui-form-label required">文章排序</label>
                <div class="layui-input-inline">
                    <input type="number" name="seq" lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input" th:value="${shopArticleEntity.seq}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">是否头条</label>
                <div class="layui-input-inline">
                    <input type="checkbox" lay-skin="switch" lay-text="是|否" lay-filter="isHeadlineStr" name="isHeadlineStr" th:checked="${shopArticleEntity.isHeadline == 1}"/>
                </div>
                <label class="layui-form-label required">是否置顶</label>
                <div class="layui-input-inline">
                    <input type="checkbox" lay-skin="switch" lay-text="是|否" lay-filter="isTopStr" name="isTopStr"  th:checked="${shopArticleEntity.isTop == 1}"/>
                </div>
                <label class="layui-form-label required">是否显示</label>
                <div class="layui-input-inline">
                    <input type="checkbox" lay-skin="switch" lay-text="是|否" lay-filter="isShowStr" name="isShowStr"  th:checked="${shopArticleEntity.isShow == null || shopArticleEntity.isShow == 1}"/>
                </div>
                <label class="layui-form-label required">允许评论</label>
                <div class="layui-input-inline">
                    <input type="checkbox" lay-skin="switch" lay-text="是|否" lay-filter="allowCommentStr" name="allowCommentStr"  th:checked="${shopArticleEntity.allowComment == null || shopArticleEntity.allowComment == 1}"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">文章标题</label>
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" th:value="${shopArticleEntity.title}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">副标题</label>
                <div class="layui-input-block">
                    <input type="text" name="subtitle" placeholder="请输入副标题" autocomplete="off" class="layui-input" th:value="${shopArticleEntity.subtitle}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">封面图</label>
                <div class="layui-input-block">
                    <input type="hidden" lay-verify="required" name="cover" th:value="${shopArticleEntity.cover}"/>
                    <img src="" style="width: 200px; height: 100px;" th:src="${shopArticleEntity.cover}"/>
                    <a style="position: absolute; left: 200px; bottom: 2px; cursor: pointer;" id="uploadIcon">上传封面图</a>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label required">文章内容</label>
                <div class="layui-input-block">
                    <textarea id="content" name="content" style="display: none;" th:text="${shopArticleEntity.content}"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">文章摘要</label>
                <div class="layui-input-block">
                    <textarea name="digest" placeholder="请输入摘要" class="layui-textarea" th:text="${shopArticleEntity.digest}"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">推荐文章</label>
                <div class="layui-input-block">
                    <input type="hidden" th:value="${shopArticleEntity.correlationId}" id="correlationIdStr"/>
                    <div id="correlationId" class="xm-select-demo"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">绑定商品</label>
                <div class="layui-input-block">
                    <input type="hidden" th:value="${shopArticleEntity.goods}" id="goodsStr"/>
                    <div id="goods" class="xm-select-demo"></div>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="submit" class="layui-btn layui-btn-primary layui-border-blue" lay-filter="submitBtnForAdd" id="submitBtnForAdd" lay-submit="" value="提交发布"/>
                    <input type="submit" class="layui-btn layui-btn-primary layui-border-black" lay-filter="goBack" id="goBack" lay-submit="" value="返回列表"/>
                </div>
            </div>

        </form>

    </div>
</div>
<script th:src="@{/js/core.util.js}" charset="utf-8"></script>
<script th:src="@{/js/xm-select.js}" charset="utf-8"></script>
<script th:src="@{/js/xm-select-utils.js}" charset="utf-8"></script>
<script th:src="@{/layui2.0/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/layui2.0/js/lay-config.js(v=2.0.0)}" charset="utf-8"></script>
</body>
</html>
<script>
    //获取token
    var token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    var tokenQuery = token.replace("#", "%23");
    var $ = jQuery = layui.jquery;
    layui.use(['form', 'layer', 'upload', 'layedit', 'miniTab'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var upload = layui.upload;
        var layedit = layui.layedit;
        var miniTab = layui.miniTab;

        upload.render({
            elem: '#uploadIcon' //绑定元素
            , url: '/sysFiles/upload?authorization=' + tokenQuery  // 上传文件的路径
            , done: function (res) {
                // 上传完毕回调
                var parentObj = $(this.item).parent();
                $(parentObj).find("input[name='cover']").attr("value", res.data.src);
                $(parentObj).find("img").attr("src", res.data.src);
            }
        });

        var layeditIndex = layedit.build('content', {
            uploadImage: {
                url: '/sysFiles/upload?authorization=' + tokenQuery //接口url
                , type: 'post' //默认post
            },
            height: 500 //设置编辑器高度
        });

        /**
         * 下拉列表
         */
        setSelectData([
            {demoId: "correlationId", title: "推荐文章", url: "/shopArticle/listByAll", value: $("#correlationIdStr").val().split(',')},
            {demoId: "goods", title: "绑定商品", url: "/goods/listByAll", value: $("#goodsStr").val().split(',')},
        ]);

        // 表单提交
        form.on('submit(submitBtnForAdd)', function (data) {
            if (!data.field["isShowStr"]) {
                data.field["isShowStr"] = "off";
            }
            if (!data.field["isHeadlineStr"]) {
                data.field["isHeadlineStr"] = "off";
            }
            if (!data.field["isTopStr"]) {
                data.field["isTopStr"] = "off";
            }
            if (!data.field["allowCommentStr"]) {
                data.field["allowCommentStr"] = "off";
            }
            data.field["content"] = layedit.getContent(layeditIndex);
            // 当前容器的全部表单字段，名值对形式：{name: value}; 获取单个值data.field["title"]
            CoreUtil.sendPost("/shopArticle/addOrUpdate", data.field, function (res) {
                layer.msg("发布成功", {time: 500}, function () {
                    var options = {};
                    options.href = "/index/shopArticle";
                    options.title = "文章列表";
                    miniTab.openNewTabByIframe(options);
                    var currOptionHref = "/index/shopArticle/addOrUpdate";
                    if(data.field["id"]){
                        currOptionHref += "?id=" + data.field["id"];
                    }
                    miniTab.delete(currOptionHref, true);
                });
            });
            // 阻止表单跳转。如果需要表单跳转，去掉这段即可。
            return false;
        });

        // 返回列表
        form.on('submit(goBack)', function (data) {
            var options = {};
            options.href = "/index/shopArticle";
            options.title = "文章列表";
            miniTab.openNewTabByIframe(options);
            var currOptionHref = "/index/shopArticle/addOrUpdate";
            if(data.field["id"]){
                currOptionHref += "?id=" + data.field["id"];
            }
            miniTab.delete(currOptionHref, true);
            // 阻止表单跳转。如果需要表单跳转，去掉这段即可。
            return false;
        });

    });


</script>
