<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui2.0/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/css/public.css}" media="all">
    <style>
        .tableInput {
            width: 150px;
            margin-left: -15px;
            margin-top: -5px;
        }

        .tableInput2 {
            width: 200px;
            margin-left: -15px;
            margin-top: -5px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main" shiro:hasPermission="goods:add">

        <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
            <div carousel-item>
                <div>
                    <form class="layui-form" style="margin: 0 auto;">
                        <blockquote class="layui-elem-quote">
                            <i class="layui-icon">&#xe653;</i> 选择商品分类
                            <span class="layui-breadcrumb" lay-separator="<i class='layui-icon'>&#xe602;</i>" style="float: right;">
                                <a href="javascript:;" name="a_category1"></a>
                                <a href="javascript:;" name="a_category2"></a>
                                <a href="javascript:;" name="a_category3"></a>
                            </span>
                        </blockquote>
                        <blockquote class="layui-elem-quote layui-quote-nm">
                            <div class="layui-row">
                                <div class="layui-col-md4">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            <blockquote class="layui-elem-quote layui-quote-nm"><i class="layui-icon">&#xe62a;</i> 一级商品分类</blockquote>
                                        </div>
                                        <div class="layui-card-body">
                                            <table class="layui-table" id="showTable1" lay-filter="showTable1"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md4">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            <blockquote class="layui-elem-quote layui-quote-nm"><i class="layui-icon">&#xe62a;</i> 二级商品分类</blockquote>
                                        </div>
                                        <div class="layui-card-body">
                                            <table class="layui-table" id="showTable2" lay-filter="showTable2"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md4">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            <blockquote class="layui-elem-quote layui-quote-nm"><i class="layui-icon">&#xe62a;</i> 三级商品分类</blockquote>
                                        </div>
                                        <div class="layui-card-body">
                                            <table class="layui-table" id="showTable3" lay-filter="showTable3"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                        <div class="layui-form-item">
                            <button type="button" class="layui-btn layui-btn-primary layui-border-black back" style="float: left;"><i class="fa fa-reply"></i> 返回商品列表</button>
                            <button class="layui-btn layui-btn-primary layui-border-blue" lay-submit lay-filter="formStep" style="float: right;">下一步, 填写商品信息 <i class="fa fa-share"></i></button>
                        </div>
                    </form>
                </div>
                <div>
                    <form class="layui-form" style="margin: 0 auto;" lay-filter="shopSpuEntity">
                        <input type="hidden" name="id" th:value="${shopSpuEntity.id}"/>
                        <input type="hidden" name="category1Id" th:value="${shopSpuEntity.category1Id}"/>
                        <input type="hidden" name="category2Id" th:value="${shopSpuEntity.category2Id}"/>
                        <input type="hidden" name="category3Id" th:value="${shopSpuEntity.category3Id}"/>
                        <blockquote class="layui-elem-quote"><i class="layui-icon">&#xe653;</i> 商品基本信息</blockquote>
                        <blockquote class="layui-elem-quote layui-quote-nm">
                            <div class="layui-form-item">
                                <table class="layui-table" lay-size="sm">
                                    <colgroup>
                                        <col width="100">
                                        <col width="500">
                                        <col width="100">
                                        <col width="500">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td class="required">商品分类</td>
                                        <td colspan="3">
                                            <div class="layui-breadcrumb" lay-separator="<i class='layui-icon'>&#xe602;</i>" style="padding-top: 8px; float: left;">
                                                <a href="javascript:;" name="a_category1"></a>
                                                <a href="javascript:;" name="a_category2"></a>
                                                <a href="javascript:;" name="a_category3"></a>
                                            </div>
                                            <div style="padding-left: 20px; padding-top: 10px; float: left; cursor: pointer;">
                                                <i class="fa fa-edit" style="font-size: 14px; color: #1E9FFF;" id="editCategory">编辑</i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="required">商品名称</td>
                                        <td colspan="3"><input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入商品名称" class="layui-input"
                                                               th:value="${shopSpuEntity.name}"/></td>
                                    </tr>
                                    <tr>
                                        <td class="required">商品标题</td>
                                        <td colspan="3"><input type="text" name="caption" lay-verify="required" autocomplete="off" placeholder="请输入商品标题" class="layui-input"
                                                               th:value="${shopSpuEntity.caption}"/></td>
                                    </tr>
                                    <tr>
                                        <td class="required">运营商家</td>
                                        <td>
                                            <select name="sellerId" lay-filter="sellerId" lay-search lay-verify="required" th:with="sellerList=${@sellerService.list()}">
                                                <option value="">请选择运营商家</option>
                                                <option th:each="seller : ${sellerList}" th:text="${seller.sellerName}" th:value="${seller.id}"
                                                        th:selected="${shopSpuEntity.sellerId == seller.id}"></option>
                                            </select>
                                        </td>
                                        <td class="required">商品品牌</td>
                                        <td>
                                            <select name="brandId" lay-search lay-verify="required" th:with="brandList=${@shopBrandService.list()}">
                                                <option value="">请选择商品品牌</option>
                                                <option th:each="brand : ${brandList}" th:text="${brand.name}" th:value="${brand.id}" th:selected="${shopSpuEntity.brandId == brand.id}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="required">商品状态</td>
                                        <td>
                                            <select name="isMarketable" lay-search lay-verify="required" th:with="dataResult=${@commonController.findAllGoodsStatus()}">
                                                <option th:each="map : ${dataResult.getData()}" th:text="${map.get('name')}" th:value="${map.get('id')}"
                                                        th:selected="${shopSpuEntity.isMarketable == map.get('id')}"></option>
                                            </select>
                                        </td>
                                        <td>运费模板</td>
                                        <td>
                                            <select name="freightId" lay-search>
                                                <option value="">请选择运费模板</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>商品介绍</td>
                                        <td colspan="3">
                                            <textarea name="introduction" placeholder="请输入商品介绍" class="layui-textarea"></textarea>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </blockquote>
                        <blockquote class="layui-elem-quote"><i class="layui-icon">&#xe653;</i> 商品售后服务</blockquote>
                        <blockquote class="layui-elem-quote layui-quote-nm">
                            <table class="layui-table" lay-size="sm">
                                <colgroup>
                                    <col width="100">
                                    <col width="1100">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td class="required">商品货号</td>
                                    <td>
                                        <input type="text" name="sn" lay-verify="required|SPU_SN" autocomplete="off" placeholder="请输入商品货号" class="layui-input" th:value="${shopSpuEntity.sn}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>服务保证</td>
                                    <td>
                                        <div th:with="dataResult=${@commonController.findAllServiceGuarantee()}">
                                            <input type="checkbox" name="serviceGuarantee" th:each="map : ${dataResult.getData()}" th:title="${map.get('name')}"/>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </blockquote>
                        <div class="layui-form-item">
                            <button type="button" class="layui-btn layui-btn-primary layui-border-black back" style="float: left;"><i class="fa fa-reply"></i> 返回商品列表</button>
                            <button class="layui-btn layui-btn-primary layui-border-blue" lay-submit lay-filter="formStep2" style="float: right;">下一步, 填写商品属性 <i class="fa fa-share"></i></button>
                        </div>
                    </form>
                </div>
                <div>
                    <form class="layui-form" style="margin: 0 auto;">
                        <blockquote class="layui-elem-quote"><i class="layui-icon">&#xe653;</i> 商品属性</blockquote>
                        <blockquote class="layui-elem-quote layui-quote-nm">
                            <table class="layui-table" lay-size="sm">
                                <colgroup>
                                    <col width="100">
                                    <col width="600">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>规格参数组</th>
                                    <th>
                                        <span class="layui-badge layui-bg-green" id="templateName"></span>
                                        <input id="templateId" hidden/>
                                    </th>
                                </tr>
                                </thead>
                                </tbody>
                            </table>
                            <fieldset class="table-search-fieldset" style="padding: 0 10px 5px 10px;">
                                <legend><i class="fa fa-cogs" style="color: red;"><b> 商品规格</b></i></legend>
                                <div class="layui-field-box">
                                    <table class="layui-table" lay-filter="specTable" id="specTable" style="margin-top: -10px;"></table>
                                </div>
                                <div class="layui-field-box">
                                    <table class="layui-table" lay-filter="deploySpecTable" id="deploySpecTable" style="margin-top: -10px;"></table>
                                </div>
                            </fieldset>
                        </blockquote>
                        <blockquote class="layui-elem-quote"><i class="layui-icon">&#xe653;</i> 商品参数</blockquote>
                        <blockquote class="layui-elem-quote layui-quote-nm">
                            <fieldset class="table-search-fieldset" style="padding: 0 10px 5px 10px;">
                                <legend><i class="fa fa-cogs" style="color: red;"><b> 商品参数</b></i></legend>
                                <div class="layui-field-box">
                                    <table class="layui-table" lay-filter="paraTable" id="paraTable" style="margin-top: -10px;"></table>
                                </div>
                            </fieldset>
                        </blockquote>
                        <blockquote class="layui-elem-quote"><i class="layui-icon">&#xe653;</i> 商品相册</blockquote>
                        <blockquote class="layui-elem-quote layui-quote-nm">
                            <div class="layui-form-item">
                                <div class="layui-inline" th:each="index:${#numbers.sequence(1, 5)}">
                                    <div class="layui-card">
                                        <div class="layui-card-header" style="text-align: center;">
                                            <div class="layui-btn-group">
                                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" th:id="'uploadPictures' + ${index}">
                                                    <i class="layui-icon">&#xe67c;</i> 上传
                                                </button>
                                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="chooseAlbumGallery(this, 1)">
                                                    <i class="layui-icon">&#xe64a;</i> 图库
                                                </button>
                                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" th:onclick="'deletePicture(this, ' + ${index} + ')'">
                                                    <i class="layui-icon">&#xe640;</i> 删除
                                                </button>
                                            </div>
                                        </div>
                                        <div class="layui-card-body" style="text-align: center;">
                                            <input name="images" hidden/>
                                            <img th:if="${1 == index}" th:src="@{/images/uploadfile.png}" style="height: 200px; width: 200px;"/>
                                            <img th:if="${1 != index}" th:src="@{/images/uploadfile.jpeg}" style="height: 200px; width: 200px;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                        <blockquote class="layui-elem-quote"><i class="layui-icon">&#xe653;</i> 详情描述</blockquote>
                        <blockquote class="layui-elem-quote layui-quote-nm">
                            <a class="layui-btn layui-btn-primary layui-border-green layui-btn-xs" onclick="chooseAlbumGallery(this, 2)"><i class="fa fa-image"> 从图库选择</i></a>
                            <a class="layui-btn layui-btn-primary layui-border-red layui-btn-xs"><i class="fa fa-question-circle"> 移动端上传说明</i></a>
                            <div class="layui-tab layui-tab-card">
                                <ul class="layui-tab-title">
                                    <li class="layui-this">移动端详情</li>
                                    <li>电脑端详情</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show">
                                        <textarea id="mobileEditor" style="display: none;">移动端详情</textarea>
                                    </div>
                                    <div class="layui-tab-item">
                                        <textarea id="pcEditor" style="display: none;">电脑端详情</textarea>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                        <div class="layui-form-item">
                            <button type="button" class="layui-btn layui-btn-primary layui-border-black pre" style="float: left;"><i class="fa fa-reply"></i> 上一步, 填写商品信息</button>
                            <button class="layui-btn layui-btn-primary layui-border-blue" lay-submit lay-filter="submitExamine" style="float: right;"><i class="fa fa-send"></i> 提交审核</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="toolbar1">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-primary layui-border-green layui-btn-sm" lay-event="add" shiro:hasPermission="shopCategory:add"><i class="layui-icon">&#xe61f;</i> 新增一级分类</a>
    </div>
</script>
<script type="text/html" id="toolbar2">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-primary layui-border-green layui-btn-sm" lay-event="add" shiro:hasPermission="shopCategory:add"><i class="layui-icon">&#xe61f;</i> 新增二级分类</a>
    </div>
</script>
<script type="text/html" id="toolbar3">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-primary layui-border-green layui-btn-sm" lay-event="add" shiro:hasPermission="shopCategory:add"><i class="layui-icon">&#xe61f;</i> 新增三级分类</a>
    </div>
</script>
<script type="text/html" id="specOptions">
    {{# layui.each(d.options.split(','), function(index, item){     }}
    <input type="checkbox" title="{{ item }}" spec="{{ d.name }}" spec-id="{{ d.id }}" lay-filter="specOption"/>
    {{# });  }}
</script>
<script type="text/html" id="paraOptions">
    {{# layui.each(d.options.split(','), function(index, item){     }}
    <input type="checkbox" name="paraOption" param="{{ d.name }}" title="{{ item }}"/>
    {{# });  }}
</script>
<script type="text/html" id="deploySpecTool">
    <a class="layui-btn layui-btn-primary layui-border-red layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除规格</a>
    <a class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" id="uploadBtn{{ d.LAY_TABLE_INDEX }}" index="{{ d.LAY_TABLE_INDEX }}"><i class="layui-icon">&#xe67c;</i>上传图片</a>
</script>
</div>
<script th:src="@{/js/core.util.js}" charset="utf-8"></script>
<script th:src="@{/layui2.0/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/layui2.0/js/lay-config.js(v=2.0.0)}" charset="utf-8"></script>
</body>
</html>
<script>
    //获取token
    var token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    var tokenQuery = token.replace("#", "%23");
    var $ = jQuery = layui.jquery;
    var tableIns1, tableIns2, tableIns3;
    var deploySpecMap = new Map();
    layui.use(['form', 'table', 'layer', 'step', 'util', 'layedit', 'upload', 'miniTab'], function () {
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var step = layui.step;
        var util = layui.util;
        var layedit = layui.layedit;
        var upload = layui.upload;
        var miniTab = layui.miniTab;

        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '90%', //设置容器宽度
            stepWidth: '1000px',
            height: '800px',
            initStep: 2,// 初始化显示索引
            stepItems: [{
                title: '选择商品分类'
            }, {
                title: '填写商品信息'
            }, {
                title: '填写商品属性'
            }]
        });

        form.on('submit(formStep)', function (data) {
            var checkStatus = table.checkStatus('showTable3');
            if (checkStatus.data.length <= 0) {
                layer.msg('请选择商品分类', {icon: 5});
            } else {
                step.next('#stepForm');
            }
            return false;
        });
        form.on('submit(formStep2)', function (data) {
            resetHeight();
            step.next('#stepForm');
            return false;
        });
        $('.pre').click(function () {
            resetHeightBack();
            step.pre('#stepForm');
        });
        $('.back').click(function () {
            // 按钮【按钮二】的回调
            var parentIndex = parent.layer.getFrameIndex(window.name);
            parent.layer.close(parentIndex);
        });
        $('.next').click(function () {
            step.next('#stepForm');
        });
        // 编辑分类
        $("#editCategory").click(function () {
            step.pre('#stepForm');
        });
        //加载一级分类table
        tableIns1 = table.render({
            id: 'showTable1'
            , elem: '#showTable1'
            , contentType: 'application/json'
            , headers: {"authorization": token}
            , height: 490
            , page: false
            , url: '/shopCategory/listByPage' //数据接口
            , where: {parentId: '0'}
            , method: 'POST'
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'radio'},
                    {width: 120, field: 'id', title: '分类编号', sort: true},
                    {minWidth: 220, field: 'name', title: '分类名称', edit: 'text'},
                ]
            ]
            , limit: 10000 // 数据表格默认全部显示
            , toolbar: '#toolbar1'
            , defaultToolbar: []
            , done: function (res, curr, count) {
                var category1Id = form.val("shopSpuEntity").category1Id;
                var flag = true;
                $(".layui-table-view[lay-id='showTable1'] .layui-table-body tr").each(function (index, item) {
                    var categoryId = $(item).find("td[data-field='id']").eq(0).text();
                    if(category1Id == categoryId){
                        flag = false;
                        $(item).find(".layui-form-radio").click();
                    }
                });
                if(flag){
                    $(".layui-table-view[lay-id='showTable1'] .layui-table-body tr[data-index='0'] .layui-form-radio").click();
                }
            }
        });
        table.on('radio(showTable1)', function (obj) {
            // test 是 table 标签对应的 lay-filter 属性
            $("a[name='a_category1']").html(obj.data.name);
            $("a[name='a_category2']").html("");
            $("a[name='a_category3']").html("");
            tableIns2.reload({
                    url: '/shopCategory/listByPage', //数据接口
                    where: {parentId: obj.data.id}
                }
            );
            tableIns3.reload({
                    url: '/shopCategory/listByPage', //数据接口
                    where: {parentId: '-1'},
                }
            );
        });
        //表头工具
        table.on('toolbar(showTable1)', function (obj) {
            switch (obj.event) {
                case 'add':
                    layer.open({
                        id: 'shopCategory_add1', //设定一个id，防止重复弹出
                        title: '<i class="layui-icon">&#xe653;</i> 新增一级商品分类',
                        type: 2,
                        content: '../../../index/shopCategory/addOrUpdate',
                        btn: ['提交保存', '取消'],
                        area: ['50%', '70%'],
                        scrollbar: false,
                        yes: function (index, layero) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            window[layero.find('iframe')[0]['name']].saveShopCategory("submitBtnForAdd");
                        },
                        end: function () {
                            // 刷新table
                            table.reload('showTable1');
                        }
                    });
                    break;
            }
        });
        //加载二级分类table
        tableIns2 = table.render({
            id: 'showTable2'
            , elem: '#showTable2'
            , contentType: 'application/json'
            , headers: {"authorization": token}
            , height: 490
            , page: false //开启分页
            // , url: '/shopCategory/listByPage' //数据接口
            // , where: {parentId: '-1'}
            , method: 'POST'
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'radio'},
                    {width: 120, field: 'id', title: '分类编号', sort: true},
                    {minWidth: 220, field: 'name', title: '分类名称', edit: 'text'},
                ]
            ]
            , limit: 10000 // 数据表格默认全部显示
            , data: []
            , toolbar: '#toolbar2'
            , defaultToolbar: []
            , done: function (res, curr, count) {
                var category2Id = form.val("shopSpuEntity").category2Id;
                var flag = true;
                $(".layui-table-view[lay-id='showTable2'] .layui-table-body tr").each(function (index, item) {
                    var categoryId = $(item).find("td[data-field='id']").eq(0).text();
                    if(category2Id == categoryId){
                        flag = false;
                        $(item).find(".layui-form-radio").click();
                    }
                });
                if(flag){
                    $(".layui-table-view[lay-id='showTable2'] .layui-table-body tr[data-index='0'] .layui-form-radio").click();
                }
            }
        });
        table.on('radio(showTable2)', function (obj) {
            // test 是 table 标签对应的 lay-filter 属性
            $("a[name='a_category2']").html(obj.data.name);
            $("a[name='a_category3']").html("");
            tableIns3.reload({
                    url: '/shopCategory/listByPage', //数据接口
                    where: {parentId: obj.data.id}
                }
            );
        });
        //表头工具
        table.on('toolbar(showTable2)', function (obj) {
            switch (obj.event) {
                case 'add':
                    // 已选中一级分类
                    var checkStatus = table.checkStatus('showTable1');
                    layer.open({
                        id: 'shopCategory_add2', //设定一个id，防止重复弹出
                        title: '<i class="layui-icon">&#xe653;</i> 新增二级商品分类',
                        type: 2,
                        content: '../../../index/shopCategory/addOrUpdate2',
                        btn: ['提交保存', '取消'],
                        area: ['50%', '70%'],
                        scrollbar: false,
                        yes: function (index, layero) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            window[layero.find('iframe')[0]['name']].saveShopCategory("submitBtnForAdd");
                        },
                        end: function () {
                            // 刷新table
                            table.reload('showTable2');
                        },
                        success: function (layero, index) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            var subordinateData = {};
                            subordinateData.parentId = checkStatus.data[0].id;
                            subordinateData.templateId = checkStatus.data[0].templateId;
                            subordinateData.isShow = 1;
                            subordinateData.isMenu = 1;
                            window[layero.find('iframe')[0]['name']].assignment(subordinateData);
                        }
                    });
                    break;
            }
        });
        //加载三级分类table
        tableIns3 = table.render({
            id: 'showTable3'
            , elem: '#showTable3'
            , contentType: 'application/json'
            , headers: {"authorization": token}
            , height: 490
            , page: false //开启分页
            // , url: '/shopCategory/listByPage' //数据接口
            // , where: {parentId: '-1'}
            , method: 'POST'
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'radio'},
                    {width: 120, field: 'id', title: '分类编号', sort: true},
                    {minWidth: 220, field: 'name', title: '分类名称', edit: 'text'},
                ]
            ]
            , limit: 10000 // 数据表格默认全部显示
            , data: []
            , toolbar: '#toolbar3'
            , defaultToolbar: []
            , done: function (res, curr, count) {
                var category3Id = form.val("shopSpuEntity").category3Id;
                var flag = true;
                $(".layui-table-view[lay-id='showTable3'] .layui-table-body tr").each(function (index, item) {
                    var categoryId = $(item).find("td[data-field='id']").eq(0).text();
                    if(category3Id == categoryId){
                        flag = false;
                        $(item).find(".layui-form-radio").click();
                    }
                });
                if(flag){
                    $(".layui-table-view[lay-id='showTable3'] .layui-table-body tr[data-index='0'] .layui-form-radio").click();
                }
            }
        });
        table.on('radio(showTable3)', function (obj) {
            // test 是 table 标签对应的 lay-filter 属性
            $("a[name='a_category3']").html(obj.data.name);
            CoreUtil.sendGet("/shopCategory/findById/" + obj.data.id, null, function (res) {
                if (res.data) {
                    $("#templateId").val(res.data.templateId);
                    $("#templateName").html(res.data.templateName);
                    // 渲染规格
                    renderingSpecTable(res.data.templateId);
                    // 渲染参数
                    renderingParaTable(res.data.templateId);
                }
            });
        });
        //表头工具
        table.on('toolbar(showTable3)', function (obj) {
            switch (obj.event) {
                case 'add':
                    // 已选中二级分类
                    var checkStatus = table.checkStatus('showTable2');
                    layer.open({
                        id: 'shopCategory_add3', //设定一个id，防止重复弹出
                        title: '<i class="layui-icon">&#xe653;</i> 新增三级商品分类',
                        type: 2,
                        content: '../../../index/shopCategory/addOrUpdate3/' + checkStatus.data[0].parentId,
                        btn: ['提交保存', '取消'],
                        area: ['70%', '70%'],
                        scrollbar: false,
                        yes: function (index, layero) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            window[layero.find('iframe')[0]['name']].saveShopCategory("submitBtnForAdd");
                        },
                        end: function () {
                            // 刷新table
                            table.reload('showTable3');
                        },
                        success: function (layero, index) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            var subordinateData = {};
                            subordinateData.parentId = checkStatus.data[0].id;
                            subordinateData.grandParentId = checkStatus.data[0].parentId;
                            subordinateData.templateId = checkStatus.data[0].templateId;
                            subordinateData.isShow = 1;
                            subordinateData.isMenu = 1;
                            window[layero.find('iframe')[0]['name']].assignment(subordinateData);
                        }
                    });
                    break;
            }
        });
        /**
         * 监听单元格编辑
         */
        table.on('edit(showTable1)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            var shopCategory = {};
            shopCategory.id = data.id;
            shopCategory[field] = util.escape(value);
            CoreUtil.sendPut("/shopCategory/update", shopCategory, function (res) {

            });
        });
        /**
         * 监听单元格编辑
         */
        table.on('edit(showTable2)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            var shopCategory = {};
            shopCategory.id = data.id;
            shopCategory[field] = util.escape(value);
            CoreUtil.sendPut("/shopCategory/update", shopCategory, function (res) {

            });
        });
        /**
         * 监听单元格编辑
         */
        table.on('edit(showTable3)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            var shopCategory = {};
            shopCategory.id = data.id;
            shopCategory[field] = util.escape(value);
            CoreUtil.sendPut("/shopCategory/update", shopCategory, function (res) {

            });
        });
        /**
         * 监听商家下拉列表
         */
        form.on('select(sellerId)', function (data) {
            var serialNo;
            if (data.value) {
                CoreUtil.sendSyncGet("/goods/getUniqueSnBySeller/" + data.value, null, function (res) {
                    serialNo = res.data;
                });
            } else {
                serialNo = "";
            }
            form.val("shopSpuEntity", {"sn": serialNo});
        });
        /**
         * 自定义表单验证
         */
        form.verify({
            'SPU_SN': function (value, item) {
                var checkResult = 'SPU商品货号已存在';
                CoreUtil.sendSyncPut("/goods/findOneByUnique", {id: form.val("shopSpuEntity").id, sn: value.trim()}, function (res) {
                    if (!res.data) {
                        checkResult = '';
                    }
                });
                return checkResult
            }
        });
        /**
         * 监听规格复选框
         */
        form.on('checkbox(specOption)', function (data) {
            var spec = $(data.elem).attr("spec");
            var specValue = $(data.elem).attr("title");
            if (deploySpecMap.has(spec)) {
                var specValueList = deploySpecMap.get(spec);
                // 判断当前多选框是选中还是取消选中
                if (data.elem.checked) {
                    specValueList.push(specValue);
                } else {
                    var newSpecValueList = specValueList.filter((item) => {
                        return item != specValue;
                    });
                    if (newSpecValueList.length > 0) {
                        deploySpecMap.set(spec, newSpecValueList);
                    } else {
                        deploySpecMap.delete(spec);
                    }
                }
            } else {
                deploySpecMap.set(spec, [specValue])
            }
            deploySpecTable();
            resetHeight();
        });

        upload.render({
            elem: '#uploadPictures1, #uploadPictures2, #uploadPictures3, #uploadPictures4, #uploadPictures5' //绑定元素
            , url: '/sysFiles/upload?authorization=' + tokenQuery  // 上传文件的路径
            , done: function (res) {
                //上传完毕回调
                var parentObj = $(this.item).parent().parent().next();
                $(parentObj).find("input[name='images']").attr("value", res.data.src);
                $(parentObj).find("img").attr("src", res.data.src);
            }
        });


        // 文本编辑器
        // layedit.set({
        //     uploadImage: {
        //         url: '' //接口url
        //         ,type: '' //默认post
        //     }
        // });

        // {
        //     "code": 0 //0表示成功，其它失败
        //     ,"msg": "" //提示信息 //一般上传失败后返回
        //     ,"data": {
        //     "src": "图片路径"
        //         ,"title": "图片名称" //可选
        // }
        // }
        // 建立mobile编辑器
        layedit.build('mobileEditor', {
            height: 500 //设置编辑器高度
        });
        // 建立pc编辑器
        layedit.build('pcEditor', {
            height: 500 //设置编辑器高度
        });


        // 表单提交 - 提交审核
        form.on('submit(submitExamine)', function (data) {
            // 商品SPU信息
            var shopSpuEntity = form.val("shopSpuEntity");
            // 商品一级分类
            shopSpuEntity.category1Id = table.checkStatus('showTable1').data[0].id;
            // 商品二级分类
            shopSpuEntity.category2Id = table.checkStatus('showTable2').data[0].id;
            // 商品三级分类
            shopSpuEntity.category3Id = table.checkStatus('showTable3').data[0].id;
            // 模板ID
            shopSpuEntity.templateId = $("#templateId").val();
            // 图片列表
            var images = [];
            $("input[name='images']").each(function () {
                var image = $(this).val();
                if (image) images.push(image);
            });
            if (images.length > 0) {
                shopSpuEntity.image = images[0];
                shopSpuEntity.images = images.join(",");
            }
            // 售后服务
            var saleService = [];
            $("input[type=checkbox][name='serviceGuarantee']:checked").each(function () {
                saleService.push($(this).attr("title"));
            });
            if (saleService.length > 0) {
                shopSpuEntity.saleService = saleService.join(",");
            }
            // 规格列表
            var specItems = Object.create(null);
            deploySpecMap.forEach(function (v, k, map) {
                specItems[k] = v;
            });
            shopSpuEntity.specItems = JSON.stringify(specItems);
            // 参数列表
            var paraItems = Object.create(null);
            var paraItemsMap = new Map();
            $("input[type=checkbox][name='paraOption']:checked").each(function () {
                var param = $(this).attr("param");
                var value = $(this).attr("title");
                if (paraItemsMap.has(param)) {
                    paraItemsMap.get(param).push(value);
                } else {
                    paraItemsMap.set(param, [value]);
                }
            });
            paraItemsMap.forEach(function (v, k, map) {
                paraItems[k] = v;
            });
            shopSpuEntity.paraItems = JSON.stringify(paraItems);
            // 审核状态
            shopSpuEntity.status = 0;
            // 商品SKU信息 - 集合
            var shopSkuEntityList = [];
            var deploySpecTableDatas = layui.table.cache["deploySpecTable"];
            $(deploySpecTableDatas).each(function (index, data) {
                var shopSkuEntity = {};
                // sku规格
                var spec = {};
                var skuName = shopSpuEntity.name;
                var specFlag = false;
                $(Object.keys(data)).each(function (i, d) {
                    if (deploySpecMap.has(d)) {
                        specFlag = true;
                        spec[d] = data[d];
                        skuName += " " + data[d];
                    } else if (d != 'LAY_TABLE_INDEX') {
                        shopSkuEntity[d] = $($(data[d])[0]).attr("value");
                    }
                });
                if (specFlag) {
                    shopSkuEntity.spec = JSON.stringify(spec);
                    // 商家ID
                    shopSkuEntity.sellerId = shopSpuEntity.sellerId;
                    // SKU名称
                    shopSkuEntity.name = skuName;
                    // SKU状态
                    shopSkuEntity.status = '1';
                    // 商品图片列表
                    shopSkuEntity.images = shopSpuEntity.images;
                    // 类目ID
                    shopSkuEntity.categoryId = shopSpuEntity.category3Id;
                    shopSkuEntity.categoryName = $("a[name='a_category3']").html();
                    // 类目ID
                    shopSkuEntity.brandId = shopSpuEntity.brandId;
                    shopSkuEntity.brandName = $("select[name='brandId']:selected").text();
                    shopSkuEntityList.push(shopSkuEntity);
                }
            });
            if (shopSkuEntityList.length > 0) {
                shopSpuEntity.shopSkuEntityList = shopSkuEntityList;
                // 执行提交审核
                CoreUtil.sendPost("/goods/add", shopSpuEntity, function (res) {
                    layer.msg("发布成功, 等待商品审核...", {time: 1000}, function () {
                        window.location.reload();
                        var options = {};
                        options.href = "/index/shopSpu/auditList";
                        options.title = "商品审核";
                        miniTab.openNewTabByIframe(options);
                    });
                });
            } else {
                layer.msg("请至少维护一个SKU", {icon: 5});
            }
            //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            return false;
        });


    });


    function chooseAlbumGallery(ele, type) {
        var layer = layui.layer;
        layer.open({
            type: 2,
            title: '<i class="layui-icon">&#xe64a;</i> 选择图片',
            id: 'chooseGalleryList',
            offset: 'r',
            anim: 5,
            maxmin: true,
            area: ['1000px', '100%'],//宽高不影响最大化
            content: "../../index/shopAlbum/chooseAlbumGallery",//地址
            zIndex: layer.zIndex,
            btn: ['确认选择', '关闭'],
            success: function (layero, index) {
                // 置顶当前窗口
                layer.setTop(layero);
            },
            yes: function (index, layero) {
                //do something
                var selectImgMap = window[layero.find('iframe')[0]['name']].selectImgMap;
                var idList = [...selectImgMap.keys()];
                if (idList.length > 0) {
                    CoreUtil.sendPost("/shopAlbum/findDetailListByIdList", idList, function (res) {
                        switch (type) {
                            case 1:
                                //  商品相册
                                var parentObj = $(ele).parent().parent().next();
                                $(parentObj).find("input[name='images']").attr("value", res.data[0].image);
                                $(parentObj).find("img").attr("src", res.data[0].image);
                                break;
                            case 2:
                                // TODO 详情描述

                                break;
                        }
                    });
                }
                layer.close(index); //如果设定了yes回调，需进行手工关闭
            }
        });
    }

    function deletePicture(ele, type) {
        var parentObj = $(ele).parent().parent().next();
        $(parentObj).find("input[name='images']").attr("value", "");
        if (1 == type) {
            $(parentObj).find("img").attr("src", "/images/uploadfile.png");
        } else {
            $(parentObj).find("img").attr("src", "/images/uploadfile.jpeg");
        }
    }

    function renderingSpecTable(templateId) {
        layui.use(['table', 'layer'], function () {
            var table = layui.table;
            table.render({
                id: 'specTable'
                , elem: '#specTable'
                , width: document.body.clientWidth * 0.8
                , contentType: 'application/json'
                , headers: {"authorization": token}
                , page: false //开启分页
                , url: '/shopTemplate/findAllSpecList' //数据接口
                , method: 'POST'
                , where: {
                    "templateId": templateId
                }
                , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "data": CoreUtil.isEmpty(res.data) ? null : res.data //解析数据列表
                    }
                }
                , cols: [
                    [
                        {width: 80, title: '序号', fixed: 'left', type: 'numbers'},
                        {align: 'center', width: 150, field: 'name', title: '规格名称'},
                        {field: 'options', title: '可选值列表', templet: '#specOptions'},
                    ]
                ]
                , done: function (res, curr, count) {
                    deploySpecMap.clear();
                    deploySpecTable();
                }
            });
        });
    }

    function renderingParaTable(templateId) {
        layui.use(['table', 'layer'], function () {
            var table = layui.table;
            table.render({
                id: 'paraTable'
                , elem: '#paraTable'
                , width: document.body.clientWidth * 0.8
                , contentType: 'application/json'
                , headers: {"authorization": token}
                , page: false //开启分页
                , url: '/shopTemplate/findAllParaList' //数据接口
                , method: 'POST'
                , where: {
                    "templateId": templateId
                }
                , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "data": CoreUtil.isEmpty(res.data) ? null : res.data //解析数据列表
                    }
                }
                , cols: [
                    [
                        {width: 80, title: '序号', fixed: 'left', type: 'numbers'},
                        {align: 'center', width: 150, field: 'name', title: '参数类型'},
                        {field: 'options', title: '录入参数', templet: '#paraOptions'},
                    ]
                ]
            });
        });
    }

    function deploySpecTable() {
        layui.use(['form', 'table', 'layer', 'upload'], function () {
            var form = layui.form;
            var table = layui.table;
            var upload = layui.upload;
            // var layer = layui.layer;
            var cols = [];
            var datas = [];
            var keyTempArray = [];
            var valueTempArray = [];
            keyTempArray.push(
                {width: 80, title: '序号', fixed: 'left', type: 'numbers'}
            );
            deploySpecMap.forEach(function (v, k, map) {
                keyTempArray.push({field: k, title: k});
                valueTempArray.push(v);
            });
            // 商品货号
            var serialNo = form.val("shopSpuEntity").sn;
            // 笛卡尔积结果
            var calcDescartes = CoreUtil.calcDescartes(valueTempArray);
            var uploadBtnIndex = "";// 上传按钮id
            $(calcDescartes).each(function (index, arr) {
                arr = Array.isArray(arr) ? arr : [arr];
                var data = {};
                $(arr).each(function (i, item) {
                    data[keyTempArray[i + 1].field] = item;
                });
                data['price'] = "<input type=\"text\" name=\"price\" value='0' autocomplete=\"off\" placeholder=\"请输入销售价格\" class=\"layui-input tableInput2\" onblur='resetInputValue(this, " + index + ")' />";
                data['num'] = "<input type=\"text\" name=\"num\" value='0' autocomplete=\"off\" placeholder=\"请输入商品库存\" class=\"layui-input tableInput\" onblur='resetInputValue(this, " + index + ")' />";
                data['alertNum'] = "<input type=\"text\" name=\"alertNum\" value='0' autocomplete=\"off\" placeholder=\"请输入库存预警值\" class=\"layui-input tableInput\" onblur='resetInputValue(this, " + index + ")' />";
                data['sn'] = "<input type=\"text\" name=\"sn\" value='" + (serialNo + "-" + (index + 1)) + "' autocomplete=\"off\" placeholder=\"请输入SKU编号\" class=\"layui-input tableInput\" onblur='resetInputValue(this, " + index + ")' />";
                data['image'] = "<input name='image' hidden/><img src='/images/uploadfile.jpeg' style='width: 30px; height: 30px; cursor: pointer;' ondblclick='cancalImage(this, " + index + ")'/>";
                datas.push(data);
                uploadBtnIndex += "#uploadBtn" + index + ",";
            });
            keyTempArray.push(
                {width: 200, field: 'price', title: '<i style="color: red;">*</i> 销售价格<span class="layui-badge layui-bg-gray"><i class="fa fa-info-circle"></i> 单位:分</span>', fixed: 'right'},
                {width: 150, field: 'num', title: '<i style="color: red;">*</i> 商品库存', fixed: 'right'},
                {width: 150, field: 'alertNum', title: '<i style="color: red;">*</i> 库存预警值', fixed: 'right'},
                {width: 150, field: 'sn', title: '<i style="color: red;">*</i> SKU编号', fixed: 'right'},
                {width: 200, title: '操作', fixed: 'right', toolbar: "#deploySpecTool"},
                {align: 'center', width: 150, field: 'image', title: '图片<span class="layui-badge layui-bg-gray"><i class="fa fa-info-circle"></i> 双击取消</span>', fixed: 'right'}
            );
            cols.push(keyTempArray);
            var deploySpecTable = table.render({
                id: 'deploySpecTable'
                , elem: '#deploySpecTable'
                , width: document.body.clientWidth * 0.8
                , limit: Number.MAX_VALUE // 数据表格默认全部显示
                , cols: cols
                , data: datas
            });
            // 绑定上传
            if (uploadBtnIndex) {
                upload.render({
                    elem: uploadBtnIndex.substring(0, uploadBtnIndex.length - 1) //绑定元素
                    , url: '/sysFiles/upload?authorization=' + tokenQuery  // 上传文件的路径
                    , done: function (res) {
                        // 上传完毕回调
                        var index = $(this.item).attr("index");
                        var parentObj = $(this.item).parent().parent().next();
                        $(parentObj).find("input[name='image']").attr("value", res.data.src);
                        $(parentObj).find("img").attr("src", res.data.src);
                        layui.table.cache["deploySpecTable"][index]["image"] = $(parentObj).children(":first").html();
                    }
                });
            }
            // 列操作
            table.on('tool(deploySpecTable)', function (obj) {
                switch (obj.event) {
                    case 'del':
                        var Data = table.cache["deploySpecTable"];
                        // 根据索引删除当前行
                        Data.splice(obj.tr.data('index'), 1);
                        deploySpecTable.reload({data: Data});
                        // 删除后剩余的规格
                        var surplusSpecMap = new Map();
                        // 同步商品规格可选值列表复选框
                        $(Data).each(function (index, data) {
                            $(Object.keys(data)).each(function (i, d) {
                                if (deploySpecMap.has(d)) {
                                    if (surplusSpecMap.has(d)) {
                                        var specValueList = surplusSpecMap.get(d);
                                        specValueList.add(data[d]);
                                    } else {
                                        surplusSpecMap.set(d, new Set().add(data[d]));
                                    }
                                }
                            });
                        });
                        deploySpecMap.forEach(function (v, k, map) {
                            if (surplusSpecMap.has(k)) {
                                var originalSpecList = deploySpecMap.get(k);
                                var surplusSpecList = surplusSpecMap.get(k);
                                // 差集
                                var result = CoreUtil.subSet(originalSpecList, surplusSpecList);
                                // 全部取消选中
                                $("input[spec='" + k + "'][type='checkbox'][title='" + result[0] + "']").prop("checked", false);
                                deploySpecMap.set(k, Array.from(surplusSpecList));
                            } else {
                                // 全部取消选中
                                $("input[spec='" + k + "'][type='checkbox']").prop("checked", false);
                                deploySpecMap.delete(k);
                            }
                        });
                        form.render('checkbox');
                        break;
                }
            });
        });
    }

    function resetInputValue(input, index) {
        var value = $(input).val();
        if (!value) {
            value = 0;
            $(input).val(value);
        }
        $(input).attr("value", value);
        layui.table.cache["deploySpecTable"][index][$(input).attr('name')] = $(input).parent().html();
    }

    function cancalImage(ele, index) {
        $(ele).attr("src", "/images/uploadfile.jpeg");
        $(ele).prev().attr("value", "");
        layui.table.cache["deploySpecTable"][index]["image"] = $(ele).parent().html();
    }

    function resetHeight() {
        layui.use(['table'], function () {
            var table = layui.table;
            var specTableDataCount = table.cache["specTable"].length;
            var paraTableDataCount = table.cache["paraTable"].length;
            var deploySpecTableDataCount = table.cache["deploySpecTable"].length;
            var initHeight = 2000;
            var height = initHeight + (specTableDataCount + paraTableDataCount + deploySpecTableDataCount) * 40;
            $("#stepForm").css("height", height + "px");
        });
    }

    function resetHeightBack() {
        $("#stepForm").css("height", "800px");
    }

</script>
