<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui2.0/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/css/public.css}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main" shiro:hasPermission="goods:list">
        <ul class="layui-nav layui-bg-blue" lay-bar="disabled" lay-filter="layui-nav">
            <li class="layui-nav-item layui-this"><a href="javascript:;" data-id="basicCommodityInformation">商品基本信息</a></li>
            <li class="layui-nav-item"><a href="javascript:;" data-id="afterSalesService">商品售后服务</a></li>
            <li class="layui-nav-item"><a href="javascript:;" data-id="commodityAttributes">商品属性</a></li>
            <li class="layui-nav-item"><a href="javascript:;" data-id="commodityParameters">商品参数</a></li>
            <li class="layui-nav-item"><a href="javascript:;" data-id="productAlbum">商品相册</a></li>
            <li class="layui-nav-item"><a href="javascript:;" data-id="detailedDescription">详情描述</a></li>
        </ul>
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title" hidden>
                <li id="basicCommodityInformation"></li>
                <li id="afterSalesService"></li>
                <li id="commodityAttributes"></li>
                <li id="commodityParameters"></li>
                <li id="productAlbum"></li>
                <li id="detailedDescription"></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="100">
                                <col width="500">
                                <col width="100">
                                <col width="500">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td class="required">商品分类</td>
                                <td colspan="3">
                                    <div class="layui-breadcrumb" lay-separator="<i class='layui-icon'>&#xe602;</i>" style="padding-top: 8px; float: left;">
                                        <a href="javascript:;" name="a_category1"></a>
                                        <a href="javascript:;" name="a_category2"></a>
                                        <a href="javascript:;" name="a_category3"></a>
                                    </div>
                                    <div style="padding-left: 20px; padding-top: 10px; float: left; cursor: pointer;">
                                        <i class="fa fa-edit" style="font-size: 14px; color: #1E9FFF;" id="editCategory">编辑</i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="required">商品名称</td>
                                <td><input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入商品名称" lay class="layui-input"/></td>
                                <td class="required">商品标题</td>
                                <td><input type="text" name="caption" lay-verify="required" autocomplete="off" placeholder="请输入商品标题" class="layui-input"/></td>
                            </tr>
                            <tr>
                                <td class="required">运营商家</td>
                                <td>
                                    <select name="sellerId" lay-filter="sellerId" lay-search lay-verify="required" th:with="sellerList=${@sellerService.list()}">
                                        <option value="">请选择运营商家</option>
                                        <option th:each="seller : ${sellerList}" th:text="${seller.sellerName}" th:value="${seller.id}"></option>
                                    </select>
                                </td>
                                <td class="required">商品品牌</td>
                                <td>
                                    <select name="brandId" lay-search lay-verify="required" th:with="brandList=${@shopBrandService.list()}">
                                        <option value="">请选择商品品牌</option>
                                        <option th:each="brand : ${brandList}" th:text="${brand.name}" th:value="${brand.id}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="required">商品状态</td>
                                <td>
                                    <select name="isMarketable" lay-search lay-verify="required" th:with="dataResult=${@commonController.findAllGoodsStatus()}">
                                        <option th:each="map : ${dataResult.getData()}" th:text="${map.get('name')}" th:value="${map.get('id')}"></option>
                                    </select>
                                </td>
                                <td>运费模板</td>
                                <td>
                                    <select name="freightId" lay-search>
                                        <option value="">请选择运费模板</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>商品介绍</td>
                                <td colspan="3">
                                    <textarea name="introduction" placeholder="请输入商品介绍" class="layui-textarea" style="height:132px;"></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-tab-item">2</div>
                <div class="layui-tab-item">3</div>
                <div class="layui-tab-item">4</div>
                <div class="layui-tab-item">5</div>
                <div class="layui-tab-item">6</div>
            </div>
        </div>

    </div>
</div>
<script th:src="@{/js/core.util.js}" charset="utf-8"></script>
<script th:src="@{/js/xm-select.js}" charset="utf-8"></script>
<script th:src="@{/js/xm-select-utils.js}" charset="utf-8"></script>
<script th:src="@{/layui/layui.all.js}" charset="utf-8"></script>
<script th:src="@{/layui2.0/js/lay-config.js(v=2.0.0)}" charset="utf-8"></script>
</body>
</html>
<script>
    //获取token
    var token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    var tokenQuery = token.replace("#", "%23");
    var tableIns1;
    var $ = jQuery = layui.jquery;
    layui.use(['table', 'layer', 'laydate', 'util', 'element'], function () {
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var util = layui.util;
        var element = layui.element;


        element.on('nav(layui-nav)', function (elem) {
            console.log(elem.text()); //得到当前点击的DOM对象
            console.log($(elem).attr("data-id")); //得到当前点击的DOM对象
            $("#" + $(elem).attr("data-id")).click();
        });


    });
</script>
