<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui2.0/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/css/public.css}" media="all">
</head>
<body>


<div class="layuimini-container">

    <table class="layui-table" id="categoryTable" lay-filter="categoryTable"></table>

</div>
<script th:src="@{/js/core.util.js}" charset="utf-8"></script>
<script th:src="@{/layui/layui.all.js}" charset="utf-8"></script>
<script th:inline="none">
    var $ = jQuery = layui.jquery;
    layui.config({
        base: '/layui-ext/'
    }).extend({
        treetable: 'treetable-lay/treetable'
    }).use(['treetable', 'form'], function () {
        var reloadTreeTable = function () {
            CoreUtil.sendGet("/shopCategory/listAll", null, function (res) {
                renderTable(res.data);
            });
        };
        reloadTreeTable();
        var treetable = layui.treetable;
        var form = layui.form;
        var layer = layui.layer;
        var renderTable = function (data) {
            treetable.render({
                // 渲染表格
                data: data,
                treeColIndex: 1, // 树形图标显示在第几列
                treeSpid: 0, // 最上级的父级id
                treeIdName: 'id', // id字段的名称
                treePidName: 'parentId', // pid字段的名称
                treeDefaultClose: true, // 是否默认折叠
                treeLinkage: false, // 父级展开时是否自动展开所有子级
                elem: '#categoryTable', // 表格id
                page: false, // 树形表格一般是没有分页的
                cols: [
                    [
                        {type: 'numbers'},
                        {field: 'name', width: 300, title: '分类名称'},
                        {
                            field: 'icon', width: 120, title: '图标', templet: function (item) {
                                return '<img src=' + item.icon + '/>';
                            }
                        },
                        {
                            field: 'type', width: 90, title: '级别', templet: function (item) {
                                if (item.level === 1) {
                                    return '  <a class="layui-btn layui-btn-xs" >一级目录</a>';
                                }
                                if (item.level === 2) {
                                    return '<a class="layui-btn layui-btn-xs layui-btn-normal" >二级目录</a>';
                                }
                                if (item.level === 3) {
                                    return '<a class="layui-btn layui-btn-xs layui-btn-warm " >三级目录</a>';
                                }
                            }
                        },
                        {field: 'seq', title: '排序', width: 70},
                        {
                            field: 'isShow', title: '是否显示', width: 100, templet: function (item) {
                                if (item.isShow === 1) {
                                    return '<input type="checkbox" value="' + item.id + '" lay-skin="switch" lay-filter="isShowSwitch" lay-text="启用|禁用" checked/>';
                                }
                                if (item.isShow === 0) {
                                    return '<input type="checkbox" value="' + item.id + '" lay-skin="switch" lay-filter="isShowSwitch" lay-text="启用|禁用"/>';
                                }
                            }
                        },
                        {
                            field: 'isMenu', title: '是否导航', width: 100, templet: function (item) {
                                if (item.isMenu === 1) {
                                    return '<input type="checkbox" value="' + item.id + '" lay-skin="switch" lay-filter="isMenuSwitch" lay-text="启用|禁用" checked/>';
                                }
                                if (item.isMenu === 0) {
                                    return '<input type="checkbox" value="' + item.id + '" lay-skin="switch" lay-filter="isMenuSwitch" lay-text="启用|禁用"/>';
                                }
                            }
                        },
                        {width: 100, field: 'createName', title: '创建人'},
                        {field: 'createTime', title: '创建时间', sort: true},
                        {width: 100, field: 'updateName', title: '修改人'},
                        {field: 'updateTime', title: '修改时间', sort: true},
                    ]
                ]
            });
        };



        /**
         * 监听table内开关操作
         */
        form.on('switch(isShowSwitch)', function (obj) {
            // console.log(obj)
            var shopCategory = {};
            shopCategory.id = this.value;
            shopCategory.isShow = obj.elem.checked ? 1 : 0;
            CoreUtil.sendPut("/shopCategory/update", shopCategory, function (res) {
                layer.tips(obj.elem.checked ? "开启成功" : "关闭成功", obj.othis);
            });
        });
        /**
         * 监听table内开关操作
         */
        form.on('switch(isMenuSwitch)', function (obj) {
            // console.log(obj)
            var shopCategory = {};
            shopCategory.id = this.value;
            shopCategory.isMenu = obj.elem.checked ? 1 : 0;
            CoreUtil.sendPut("/shopCategory/update", shopCategory, function (res) {
                layer.tips(obj.elem.checked ? "开启成功" : "关闭成功", obj.othis);
            });
        });





    });


</script>
</body>
</html>
