<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui2.0/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/css/public.css}" media="all">
</head>
<body>
<div class="panel panel-default" shiro:hasPermission="shopTemplate:add">
    <div class="panel-heading title">
        <blockquote class="layui-elem-quote">
            <form class="layui-form layui-form-pane" lay-filter="shopTemplateForm" id="shopTemplateForm">
                <div class="layui-form-item" style="margin: 0;">
                    <div class="layui-inline">
                        <label class="layui-form-label">模板ID</label>
                        <div class="layui-input-inline">
                            <input type="text" name="id" id="templateId" class="layui-input" readonly/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">模板名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" class="layui-input" readonly/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">创建人</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="createName" readonly/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">创建日期</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="createTime" readonly/>
                        </div>
                    </div>
                </div>
            </form>
        </blockquote>
    </div>
    <div class="layui-card-body" style="padding: 0;">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this" id="specLi">规格设置</li>
                <li id="paraLi">参数设置</li>
                <li style="float: right;">
                    <button class="layui-btn layui-btn-primary" lay-submit lay-filter="data-back-btn"><i class="layui-icon">&#xe65a;</i> 返 回</button>
                    <button class="layui-btn layui-btn-primary" lay-submit lay-filter="data-refresh-btn"><i class="layui-icon">&#xe669;</i> 刷 新</button>
                </li>
            </ul>
            <div class="layui-tab-content">
                <!-- 规格列表 -->
                <div class="layui-tab-item layui-show" id="specDiv">
                    <table class="layui-table" id="specTable" lay-filter="specTable"></table>
                </div>
                <!-- 参数列表 -->
                <div class="layui-tab-item" id="paraDiv">
                    <table class="layui-table" id="paraTable" lay-filter="paraTable"></table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="specToolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add" shiro:hasPermission="shopTemplate:add"><i class="layui-icon">&#xe61f;</i>新增规格</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="batchDeleted" shiro:hasPermission="shopTemplate:delete"><i class="layui-icon">&#xe640;</i>批量删除</button>
        </div>
    </script>
    <script type="text/html" id="specTool">
        <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit" shiro:hasPermission="shopTemplate:update"><i class="layui-icon">&#xe642;</i>编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="del" shiro:hasPermission="shopTemplate:delete"><i class="layui-icon">&#xe640;</i>删除</a>
    </script>
    <script type="text/html" id="paraToolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add" shiro:hasPermission="shopTemplate:add"><i class="layui-icon">&#xe61f;</i>新增参数</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="batchDeleted" shiro:hasPermission="shopTemplate:delete"><i class="layui-icon">&#xe640;</i>批量删除</button>
        </div>
    </script>
    <script type="text/html" id="paraTool">
        <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit" shiro:hasPermission="shopTemplate:update"><i class="layui-icon">&#xe642;</i>编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="del" shiro:hasPermission="shopTemplate:delete"><i class="layui-icon">&#xe640;</i>删除</a>
    </script>
</div>
<script th:src="@{/js/core.util.js}" charset="utf-8"></script>
<script th:src="@{/layui2.0/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/layui2.0/js/lay-config.js(v=2.0.0)}" charset="utf-8"></script>
<script>
    //获取token
    var token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    var tokenQuery = token.replace("#", "%23");
    var $ = jQuery = layui.jquery;
    var layer, table, form, util;
    var specTableIns;
    var paraTableIns;
    layui.use(['table', 'layer', 'form'], function () {
        layer = layui.layer;
        table = layui.table;
        form = layui.form;
        util = layui.util;
        // 返回
        form.on('submit(data-back-btn)', function (data) {
            var parentIndex = parent.layer.getFrameIndex(window.name);
            parent.layer.close(parentIndex);
            //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            return false;
        });
        // 刷新
        form.on('submit(data-refresh-btn)', function (data) {
            specTableIns.reload();
            paraTableIns.reload();
            //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            return false;
        });
    });

    /**
     * 加载规格Table
     */
    function loadSpecTable() {
        specTableIns = table.render({
            elem: '#specTable'
            , contentType: 'application/json'
            , headers: {"authorization": token}
            , page: true //开启分页
            , url: '/shopTemplate/specListByPage' //数据接口
            , method: 'POST'
            , where: {
                "templateId": $("#templateId").val()
            }
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {width: 100, field: 'id', title: '规格ID'},
                    {width: 150, field: 'name', title: '规格名称', edit: 'text'},
                    {field: 'options', title: '可选值列表', edit: 'text'},
                    {width: 100, field: 'seq', title: '排序', edit: 'text'},
                    {width: 150, toolbar: "#specTool", title: '操作'}
                ]
            ]
            , toolbar: '#specToolbar'
        });

        /**
         * 表头工具
         */
        table.on('toolbar(specTable)', function (obj) {
            switch (obj.event) {
                case 'batchDeleted':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的列");
                    } else {
                        var ids = [];
                        $(data).each(function (index, item) {
                            ids.push(item.id);
                        });
                        tipDialog(ids);
                    }
                    break;
                case 'add':
                    layer.open({
                        id: 'spec_add', //设定一个id，防止重复弹出
                        title: '<i class="layui-icon">&#xe653;</i> 新增规格',
                        type: 2,
                        content: '../../index/shopTemplate/addOrUpdateSpec',
                        btn: ['提交保存', '取消'],
                        area: ['50%', '70%'],
                        scrollbar: false,
                        yes: function (index, layero) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            window[layero.find('iframe')[0]['name']].saveSpec("submitBtnForAdd");
                        },
                        success: function (layero, index) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            var data = {};
                            data.templateId = $("#templateId").val();
                            window[layero.find('iframe')[0]['name']].assignment(data);
                        }
                    });
                    break;
            }
        });

        /**
         * 列操作
         */
        table.on('tool(specTable)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var ids = [];
                    ids.push(data.id);
                    tipDialog(ids);
                    break;
                case 'edit':
                    layer.open({
                        id: 'spec_update', //设定一个id，防止重复弹出
                        title: '<i class="layui-icon">&#xe653;</i> 编辑规格',
                        type: 2,
                        content: '../../index/shopTemplate/addOrUpdateSpec',
                        btn: ['提交保存', '取消'],
                        area: ['50%', '70%'],
                        scrollbar: false,
                        yes: function (index, layero) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            window[layero.find('iframe')[0]['name']].saveSpec("submitBtnForUpdate");
                        },
                        success: function (layero, index) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            window[layero.find('iframe')[0]['name']].assignment(data);
                        }
                    });
                    break;
            }
        });
        /**
         * 监听单元格编辑
         */
        table.on('edit(specTable)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            var shopSpecEntity = {};
            shopSpecEntity.id = data.id;
            shopSpecEntity[field] = util.escape(value);
            CoreUtil.sendPut("/shopTemplate/updateSpec", shopSpecEntity, function (res) {
                if (res.code != 0) {
                    layer.msg(res.msg);
                }
            });
        });

        /**
         * 删除
         */
        var tipDialog = function (ids) {
            layer.confirm('确定要删除么?', {icon: 3, title: '提示'}, function (index) {
                CoreUtil.sendDelete("/shopTemplate/deleteSpec", ids, function (res) {
                    if (res.code == 0) {
                        //如果设定了yes回调，需进行手工关闭
                        layer.close(index);
                        layer.msg(res.msg, {time: 500}, function () {
                            specTableIns.reload();
                        });
                        // 刷新父页面列表
                        parent.layui.table.reload('showTable');
                    } else {
                        layer.msg(res.msg);
                    }
                });
            });
        };

    }

    /**
     * 加载参数Table
     */
    function loadParaTable() {
        paraTableIns = table.render({
            elem: '#paraTable'
            , contentType: 'application/json'
            , headers: {"authorization": token}
            , page: true //开启分页
            , url: '/shopTemplate/paraListByPage' //数据接口
            , method: 'POST'
            , where: {
                "templateId": $("#templateId").val()
            }
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {width: 100, field: 'id', title: '参数ID'},
                    {width: 150, field: 'name', title: '参数名称', edit: 'text'},
                    {field: 'options', title: '可选值列表', edit: 'text'},
                    {width: 100, field: 'seq', title: '排序', edit: 'text'},
                    {width: 150, toolbar: "#paraTool", title: '操作'}
                ]
            ]
            , toolbar: '#paraToolbar'
        });

        /**
         * 表头工具
         */
        table.on('toolbar(paraTable)', function (obj) {
            switch (obj.event) {
                case 'batchDeleted':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的列");
                    } else {
                        var ids = [];
                        $(data).each(function (index, item) {
                            ids.push(item.id);
                        });
                        tipDialog(ids);
                    }
                    break;
                case 'add':
                    layer.open({
                        id: 'para_add', //设定一个id，防止重复弹出
                        title: '<i class="layui-icon">&#xe653;</i> 新增参数',
                        type: 2,
                        content: '../../index/shopTemplate/addOrUpdatePara',
                        btn: ['提交保存', '取消'],
                        area: ['50%', '70%'],
                        scrollbar: false,
                        yes: function (index, layero) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            window[layero.find('iframe')[0]['name']].savePara("submitBtnForAdd");
                        },
                        success: function (layero, index) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            var data = {};
                            data.templateId = $("#templateId").val();
                            window[layero.find('iframe')[0]['name']].assignment(data);
                        }
                    });
                    break;
            }
        });

        /**
         * 列操作
         */
        table.on('tool(paraTable)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var ids = [];
                    ids.push(data.id);
                    tipDialog(ids);
                    break;
                case 'edit':
                    layer.open({
                        id: 'para_update', //设定一个id，防止重复弹出
                        title: '<i class="layui-icon">&#xe653;</i> 编辑参数',
                        type: 2,
                        content: '../../index/shopTemplate/addOrUpdatePara',
                        btn: ['提交保存', '取消'],
                        area: ['50%', '70%'],
                        scrollbar: false,
                        yes: function (index, layero) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            window[layero.find('iframe')[0]['name']].savePara("submitBtnForUpdate");
                        },
                        success: function (layero, index) {
                            // 得到iframe页的窗口对象并调用子页面方法
                            window[layero.find('iframe')[0]['name']].assignment(data);
                        }
                    });
                    break;
            }
        });
        /**
         * 监听单元格编辑
         */
        table.on('edit(paraTable)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            var shopParaEntity = {};
            shopParaEntity.id = data.id;
            shopParaEntity[field] = util.escape(value);
            CoreUtil.sendPut("/shopTemplate/updatePara", shopParaEntity, function (res) {
                if (res.code != 0) {
                    layer.msg(res.msg);
                }
            });
        });

        /**
         * 删除
         */
        var tipDialog = function (ids) {
            layer.confirm('确定要删除么?', {icon: 3, title: '提示'}, function (index) {
                CoreUtil.sendDelete("/shopTemplate/deletePara", ids, function (res) {
                    if (res.code == 0) {
                        //如果设定了yes回调，需进行手工关闭
                        layer.close(index);
                        layer.msg(res.msg, {time: 500}, function () {
                            paraTableIns.reload();
                        });
                        // 刷新父页面列表
                        parent.layui.table.reload('showTable');
                    } else {
                        layer.msg(res.msg);
                    }
                });
            });
        };

    }

    /**
     * 父级页面控制子页面填充
     * type 1规格 2参数
     */
    function assignment(data, type) {
        var form = layui.form;
        // 表单赋值
        form.val("shopTemplateForm", {
            "id": data.id,
            "name": data.name,
            "createName": data.createName,
            "createTime": data.createTime
        });
        switch (type) {
            case 1:
                $("#specLi").addClass("layui-this");
                $("#specDiv").addClass("layui-show");
                $("#paraLi").removeClass("layui-this");
                $("#paraDiv").removeClass("layui-show");
                break;
            case 2:
                $("#specLi").removeClass("layui-this");
                $("#specDiv").removeClass("layui-show");
                $("#paraLi").addClass("layui-this");
                $("#paraDiv").addClass("layui-show");
                break;
        }
        // 加载规格table
        loadSpecTable();
        // 加载参数table
        loadParaTable();
    }


</script>
</body>
</html>
