<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui2.0/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui2.0/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        .layui-layer-page .layui-layer-content {
            overflow: visible !important;
        }

        .imgSeq {
            position: absolute;
            right: -8px;
            top: 2px;
        }

        .imageCard {
            background-color: #1d07070a;
            margin-top: 10px;
        }

        .cardBorder {
            border: solid 2px green;
        }

        .hiden {
            display: none;
        }
    </style>
</head>
<body>
<div class="layuimini-container" shiro:hasPermission="shopAlbum:list">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md3">
            <div class="layui-panel">
                <ul class="layui-menu" id="albumMenu">
                    <li class="layui-menu-item-group layui-menu-item-down" lay-options="{type: 'group', isAllowSpread: false}">
                        <div class="layui-menu-body-title">
                            <i class="layui-icon">&#xe634;</i> 相册列表
                        </div>
                        <ul th:with="albumList=${@shopAlbumService.list()}">
                            <li class="layui-menu-item-divider"></li>
                            <li th:each="album : ${albumList}" th:id="${album.id}" onclick="chooseAlbum(this.id)">
                                <div class="layui-menu-body-title" th:text="${album.name}"></div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-col-md9">
            <form class="layui-form" action="" lay-filter="shopAlbumGalleryForm" id="shopAlbumGalleryForm" style="width: 100%;">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <div class="layui-btn-group">
                            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" id="uploadPictures"><i class="layui-icon">&#xe67c;</i>上传图片</button>
                            <button type="button" class="layui-btn layui-btn-warm layui-btn-sm" lay-submit lay-filter="batchTransfer"><i class="layui-icon">&#xe67d;</i>批量转移</button>
                            <button type="button" class="layui-btn layui-btn-danger layui-btn-sm" lay-submit lay-filter="batchDelete"><i class="layui-icon">&#xe640;</i>批量删除</button>
                        </div>
                    </div>
                    <div class="layui-card-body" style="height: 500px;">
                        <div class="layui-form-item" id="imageList"></div>
                    </div>
                </div>
                <div id="laypage" style="text-align: right;"></div>
            </form>
        </div>
    </div>


    <!-- 模板DIV -->
    <div id="imgTpl" hidden>
        <div class="layui-inline">
            <div class="layui-card imageCard">
                <div class="layui-badge layui-bg-green imgSeq hiden">0</div>
                <div class="layui-card-body">
                    <img name="image" style="width: 165px; height: 165px; cursor: pointer;"/>
                </div>
                <div class="layui-card-header">
                    <a name="transfer" class="layui-btn layui-btn-primary layui-border-orange layui-btn-xs" shiro:hasPermission="shopAlbum:update"><i class="layui-icon">&#xe67d;</i>转移相册</a>
                    <a name="delete" class="layui-btn layui-btn-primary layui-border-red layui-btn-xs" shiro:hasPermission="shopAlbum:delete"><i class="layui-icon">&#xe640;</i>删除图片</a>
                </div>
            </div>
        </div>
    </div>
    <div id="noDataTpl" hidden>
        <div class="layui-input-block" style="text-align: center; margin-top: 30%;">
            <a href='javascript: $("#uploadPictures").click();'><i class='layui-icon' style='color: #ff1f40;'>&#xe69c;</i> 相册里没有图片, 快去上传图片吧~!【点击上传】</a>
        </div>
    </div>
    <div id="transferTpl" hidden>
        <form class="layui-form">
            <div class="layui-form-item">
                <select name="albumId" lay-search lay-verify="required" th:with="albumList=${@shopAlbumService.list()}">
                    <option value="">请选择相册</option>
                    <option th:each="album : ${albumList}" th:text="${album.name}" th:value="${album.id}"></option>
                </select>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/core.util.js}" charset="utf-8"></script>
<script th:src="@{/layui/layui.all.js}" charset="utf-8"></script>
<script th:src="@{/layui2.0/js/lay-config.js(v=2.0.0)}" charset="utf-8"></script>
</body>
</html>
<script>
    //获取token
    var token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    var tokenQuery = token.replace("#", "%23");
    var page = 1; //设置首页页码
    var limit = 6;  //设置一页显示的条数
    var total = 0;    //总条数
    var $ = jQuery = layui.jquery;

    function loadData(albumId) {
        var params = {
            "page": page,
            "limit": limit,
            "albumId": albumId
        };
        $.ajax({
            type: "post",
            url: "/shopAlbumGallery/findDetailListByPage",//对应controller的URL
            async: false,
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify(params),
            beforeSend: function (request) {
                request.setRequestHeader("authorization", token);
            },
            success: function (ret) {
                // 设置总条数
                total = ret.data.total;
                var data = ret.data.records;
                if (data.length == 0 && page > 1) {
                    page -= 1;
                    loadData(albumId);
                    return;
                }
                var html = "";
                $(data).each(function (index, item) {
                    $("#imgTpl img[name='image']").attr("id", item.id).attr("src", item.image).attr("title", item.name);
                    $("#imgTpl a[name='transfer']").attr("id", item.id);
                    $("#imgTpl a[name='delete']").attr("id", item.id);
                    var parentObj = $("#imgTpl img[name='image']").parent().parent();
                    if (selectImgMap.has(item.id)) {
                        $(parentObj).addClass("cardBorder");
                        $("#imgTpl img[name='image']").parent().prev().html(selectImgMap.get(item.id));
                        $("#imgTpl img[name='image']").parent().prev().removeClass("hiden");
                    } else {
                        $(parentObj).removeClass("cardBorder");
                        $("#imgTpl img[name='image']").parent().prev().html("");
                        $("#imgTpl img[name='image']").parent().prev().addClass("hiden");
                    }
                    html += $("#imgTpl").html();
                });
                if (!html) {
                    html += $("#noDataTpl").html();
                }
                $("#imageList").empty().append(html);
                // 绑定删除操作
                deletePictures(albumId);
                // 绑定转移操作
                transferPictures(albumId);
                // 绑定图片点击操作
                clickImg();
            }
        });
    }

    var selectImgMap;

    function clickImg() {
        $("img[name='image']").click(function () {
            var parentObj = $(this).parent().parent();
            var id = $(this).attr("id");
            if ($(parentObj).hasClass("cardBorder")) {
                $(parentObj).removeClass("cardBorder");
                selectImgMap.delete(id);
                serializeMap();
                $(this).parent().prev().html("");
                $(this).parent().prev().addClass("hiden");
                $("img[name='image']").each(function (index, item) {
                    if ($(item).parent().parent().hasClass("cardBorder")) {
                        $(item).parent().prev().html(selectImgMap.get($(item).attr("id")));
                    }
                });
            } else {
                $(parentObj).addClass("cardBorder");
                selectImgMap.set(id, 0);
                serializeMap();
                $(this).parent().prev().html(selectImgMap.get(id));
                $(this).parent().prev().removeClass("hiden");
            }
        });
    }

    function serializeMap() {
        var i = 1;
        selectImgMap.forEach(function (value, key, map) {
            map.set(key, i);
            i++;
        });
    }


    function getPage(albumId) {
        layui.use('laypage', function () {
            var laypage = layui.laypage;
            //执行一个laypage实例
            laypage.render({
                elem: 'laypage'
                , count: total //数据总数，从服务端得到
                , limit: limit
                , curr: page
                , groups: 3
                , first: '首页'
                , last: '尾页'
                , layout: ['prev', 'page', 'next', 'count', 'skip', 'refresh']
                , jump: function (obj, first) {
                    // 改变当前页码
                    page = obj.curr;
                    limit = obj.limit;
                    //首次不执行
                    if (!first) {
                        //do something
                        loadData(albumId)  //加载数据
                    }
                }
            });

        });
    }

    function uploadPictures(albumId) {
        layui.use('upload', function () {
            var upload = layui.upload;
            // 上传图片
            upload.render({
                elem: '#uploadPictures' //绑定元素
                , url: '/sysFiles/upload?authorization=' + tokenQuery  // 上传文件的路径
                , accept: 'images'
                , acceptMime: 'images/jpg, images/png'
                , done: function (res) {
                    //上传完毕回调
                    if (res.data) {
                        var para = {};
                        para.name = res.data.fileName;
                        para.albumId = albumId;
                        para.image = res.data.src;
                        para.seq = 0;
                        CoreUtil.sendPost("/shopAlbum/addDetail", para, function (res) {
                            loadData(albumId);
                            getPage(albumId);
                            layer.msg("上传成功");
                        });
                    }
                }
                , error: function () {
                    //请求异常回调
                }
            });

        });
    }

    function deletePictures(albumId) {
        var layer = layui.layer;
        $("a[name='delete']").click(function () {
            var that = $(this);
            layer.confirm('确定要删除么?', {icon: 3, title: '提示'}, function (index) {
                var ids = [];
                ids.push($(that).attr("id"));
                CoreUtil.sendDelete("/shopAlbum/deleteDetail", ids, function (res) {
                    loadData(albumId);
                    getPage(albumId);
                    layer.close(layer.index);
                });
            });
        });
    }

    function transferPictures(albumId) {
        var layer = layui.layer;
        var form = layui.form;
        $("a[name='transfer']").click(function () {
            var id = $(this).attr("id");
            layer.open({
                id: 'transferPictures'
                , type: 1
                , title: '转移相册'
                , content: $('#transferTpl')
                , area: ['50%', '150px']
                , btn: ['确定', '取消']
                , yes: function (index, layero) {
                    var newAlbumId = $("select[name='albumId']").val();
                    if (newAlbumId != albumId) {
                        var param = {};
                        param.id = id;
                        param.albumId = newAlbumId;
                        CoreUtil.sendPut("/shopAlbum/updateDetail", param, function (res) {
                            loadData(albumId);
                            getPage(albumId);
                            layer.close(index);
                        });
                    } else {
                        layer.msg("无法转移到当前相册，请选择其他相册。", {icon: 5});
                    }
                }
                , success: function (layero, index) {
                    // 重新渲染弹层中的下拉选择框select
                    form.render('select');
                }
            });
        });
    }

    function batchTransferPictures(albumId) {
        var layer = layui.layer;
        var form = layui.form;
        form.on('submit(batchTransfer)', function (data) {
            var idList = [...selectImgMap.keys()];
            if (idList.length > 0) {
                layer.open({
                    id: 'transferPictures'
                    , type: 1
                    , title: '转移相册'
                    , content: $('#transferTpl')
                    , area: ['50%', '150px']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var newAlbumId = $("select[name='albumId']").val();
                        if (!newAlbumId) {
                            layer.msg("请选择目标相册。", {icon: 5});
                            return;
                        }
                        if (newAlbumId != albumId) {
                            var param = {};
                            param.idList = idList;
                            param.albumId = newAlbumId;
                            CoreUtil.sendPut("/shopAlbum/batchUpdateDetail", param, function (res) {
                                loadData(albumId);
                                getPage(albumId);
                                layer.close(index);
                            });
                        } else {
                            layer.msg('无法转移到当前相册，请选择其他相册。', {icon: 5});
                        }
                    }
                    , success: function (layero, index) {
                        // 重新渲染弹层中的下拉选择框select
                        form.render('select');
                    }
                });
            } else {
                layer.msg('请选择图片。', {icon: 5});
            }
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    }

    function batchDeletePictures(albumId) {
        var layer = layui.layer;
        var form = layui.form;
        form.on('submit(batchDelete)', function (data) {
            var ids = [...selectImgMap.keys()];
            if (ids.length > 0) {
                layer.confirm('确定要删除么?', {icon: 3, title: '提示'}, function (index) {
                    CoreUtil.sendDelete("/shopAlbum/deleteDetail", ids, function (res) {
                        loadData(albumId);
                        getPage(albumId);
                        layer.close(layer.index);
                    });
                });
            } else {
                layer.msg('请选择图片。', {icon: 5});
            }
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    }

    /**
     * 父级页面控制子页面填充
     */
    function assignment(data) {
        // 初始化Map
        selectImgMap = new Map();
        // 请求数据
        loadData(data.id);
        // 分页操作
        getPage(data.id);
        // 上传图片操作
        uploadPictures(data.id);
        // 批量转移操作
        batchTransferPictures(data.id);
        // 批量删除操作
        batchDeletePictures(data.id);
    }

    function chooseAlbum(albumId) {
        var data = {};
        data.id = albumId;
        assignment(data);
    }

</script>
